Repository nginx/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nginx-docs, @liorm39, @doronfoa, @rranghar, @AmitShnek, @aknot242

.github/CODEOWNERS:

<!-- markdownlint-disable -->
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @nginx-docs will be requested for
# review when someone opens a pull request.
*       @nginx-docs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner #This is an inline comment.
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for all NGINX App Protect content
# in the repo:
# Lior Moscovici (@liorm39), Doron Foa (@doronfoa), Reena Ranghar (@rranghar), Amit Shnek (@AmitShnek), Daniel Edgar (@aknot242)
content/nap-waf/*       @liorm39 @doronfoa @rranghar @AmitShnek @aknot242
content/nap-dos/*       @liorm39 @doronfoa @rranghar @AmitShnek @aknot242
data/nap-waf/*          @liorm39 @doronfoa @rranghar @AmitShnek @aknot242

Add all supporting and config files (kept from docs@main
  Makefile
  README.md
  config/_default/config.toml
  config/_default/server.toml
  config/development/config.toml
  config/production/config.toml
  config/staging/config.toml
  go.mod
  go.sum
  netlify.toml
Owners: @nginx-docs

docs: added upgrade steps to NIM install guide
  content/includes/installation/optional-installation-steps.md
  content/nms/admin-guides/configuration/configure-selinux.md
  content/nms/installation/on-prem/install-nim.md
  layouts/shortcodes/custom-styles.html
Owners: @nginx-docs

chore: added upgrade steps to ADM install guide
  content/nms/installation/on-prem/install-adm.md
Owners: @nginx-docs

chore: edits to ACM install guide
  content/includes/adm/installation/upgrade-adm.md
  content/nms/installation/on-prem/install-acm.md
  content/nms/installation/on-prem/install-adm.md
  content/nms/installation/on-prem/install-dev-portal.md
  content/nms/installation/upgrade-guide.md
Owners: @nginx-docs

chore: edits
  content/nms/acm/how-to/devportals/install-dev-portal.md
  content/nms/installation/on-prem/install-acm.md
  content/nms/installation/on-prem/install-adm.md
  content/nms/installation/on-prem/install-security-monitoring.md
Owners: @nginx-docs

docs: created standalone guide for installing dev portal
  content/nms/acm/how-to/devportals/install-dev-portal.md
  content/nms/installation/on-prem/install-acm.md
  content/nms/installation/on-prem/install-adm.md
  content/nms/installation/on-prem/install-nim.md
  content/nms/installation/on-prem/install-security-monitoring.md
Owners: @nginx-docs

chore: edits
  content/nms/acm/how-to/devportals/install-dev-portal.md
Owners: @nginx-docs

chore: edits to Upgrade guide
  content/nms/installation/kubernetes/nms-helm.md
  content/nms/installation/on-prem/install-acm.md
  content/nms/installation/on-prem/install-adm.md
  content/nms/installation/on-prem/install-nim.md
  content/nms/installation/on-prem/install-security-monitoring.md
  content/nms/installation/upgrade-guide.md
Owners: @nginx-docs

chore: moved dev portal helm doc to acm dir
  content/nms/acm/how-to/devportals/devportal-helm-chart.md
Owners: @nginx-docs

feat: Change example domain and IP addresses in Load Balancing Tutorial
  content/nms/adm/tutorials/create-http-app.md
Owners: @nginx-docs

Update content/nms/adm/tutorials/create-http-app.md
  content/nms/adm/tutorials/create-http-app.md
Owners: @nginx-docs

feat: Update example instance nouns for Load Balancing Tutorial
  content/nms/adm/tutorials/create-http-app.md
Owners: @nginx-docs

fix: fix regression on abbreviations
  content/nms/adm/tutorials/create-http-app.md
Owners: @nginx-docs

feat: add security considerations
  content/includes/installation/secure-installation.md
  content/nms/installation/on-prem/install-adm.md
Owners: @nginx-docs

fix: text updates
  content/includes/installation/secure-installation.md
Owners: @nginx-docs

Update content/nms/installation/on-prem/install-adm.md
  content/nms/installation/on-prem/install-adm.md
Owners: @nginx-docs

Update content/includes/installation/secure-installation.md
  content/includes/installation/secure-installation.md
Owners: @nginx-docs

fix ref in NIM v1 docs that was throwing an error
  content/nms/nim/previous-versions/v1/guides/offline.md
Owners: @nginx-docs

Fix relref paths in NAP WAF docs
  content/nap-waf/admin-guide/install-for-controller.md
  content/nap-waf/admin-guide/install-nms.md
  content/nap-waf/admin-guide/install.md
  content/nap-waf/configuration-guide/configuration.md
  content/nap-waf/logging-overview/logs-overview.md
  content/nap-waf/releases/release-notes-1.2.md
  content/nap-waf/releases/release-notes-1.3.md
  content/nap-waf/releases/release-notes-2.0.md
  content/nap-waf/releases/release-notes-2.1.md
  content/nap-waf/releases/release-notes-2.2.md
  content/nap-waf/releases/release-notes-2.3.md
  content/nap-waf/releases/release-notes-3.0.md
  content/nap-waf/releases/release-notes-3.1.md
  content/nap-waf/releases/release-notes-3.10.md
  content/nap-waf/releases/release-notes-3.11.md
  content/nap-waf/releases/release-notes-3.12.md
  content/nap-waf/releases/release-notes-3.2.md
  content/nap-waf/releases/release-notes-3.3.md
  content/nap-waf/releases/release-notes-3.6.md
  content/nap-waf/releases/release-notes-3.7.md
  content/nap-waf/releases/release-notes-3.8.md
  content/nap-waf/releases/release-notes-3.9.1.md
  content/nap-waf/releases/release-notes-4.0.md
  content/nap-waf/releases/release-notes-4.1.md
  content/nap-waf/releases/release-notes-4.2.md
  content/nap-waf/releases/release-notes-4.3.md
  content/nap-waf/troubleshooting-guide/troubleshooting.md
Owners: @nginx-docs

feat: add the snippet to the relevant install guides
  content/nms/installation/kubernetes/nms-helm.md
  content/nms/installation/on-prem/install-acm.md
  content/nms/installation/on-prem/install-nim.md
  content/nms/installation/on-prem/install-security-monitoring.md
  content/nms/installation/on-prem/offline-install-guide.md
Owners: @nginx-docs

docs: updates to offline install guide
  content/includes/nim/installation/install-nim-offline.md
  content/includes/nim/installation/install-nim.md
  content/includes/nim/installation/nim-post-upgrade-steps.md
  content/includes/nim/installation/upgrade-nim.md
  content/nms/acm/how-to/devportals/install-dev-portal.md
  content/nms/acm/how-to/devportals/install-devportal-offline.md
  content/nms/admin-guides/configuration/configure-with-config.md
  content/nms/installation/on-prem/install-nim.md
Owners: @nginx-docs

moved NAP policies.html file to includes directory This was done to resolve an error thrown by Hugo when the file was in the data directory
  config/_default/config.toml
  content/includes/policy.html
  content/nap-waf/.gitkeep
  content/nap-waf/declarative-policy/policy.md
  content/nap-waf/troubleshooting-guide/troubleshooting.md
  data/.gitkeep
  data/nap-waf/policies/.gitkeep
Owners: @nginx-docs, @liorm39, @doronfoa, @rranghar, @AmitShnek, @aknot242

Remove the old policy.md file that was an artifact of the sphinx->hugo transition
  policy.md
Owners: @nginx-docs

chore: edits to NIM offline install steps
  content/nms/installation/on-prem/offline-install-guide.md
Owners: @nginx-docs

Update table shortcodes in NAP WAF docs to use 'bootstrap-table' shortcode and appropriate formatting classes
  content/nap-waf/admin-guide/install.md
  content/nap-waf/configuration-guide/configuration.md
  content/nap-waf/logging-overview/access-log.md
  content/nap-waf/logging-overview/logs-overview.md
  content/nap-waf/logging-overview/operation-logs.md
  content/nap-waf/logging-overview/security-log.md
  content/nap-waf/troubleshooting-guide/troubleshooting.md
Owners: @nginx-docs

chore: edits to offline install guide
  content/includes/acm/installation/install-acm-dataplane-dependencies.md
  content/includes/acm/installation/install-acm-offline.md
  content/nms/acm/how-to/devportals/install-devportal-offline.md
  content/nms/installation/on-prem/offline-install-guide.md
Owners: @nginx-docs

Migrate NAP-DoS docs from nginxinc/nap-dos-docs @ 0a49be9
  content/nap-dos/deployment-guide/_index.md
  content/nap-dos/deployment-guide/installing-nginx-plus-with-dos-and-waf-on-amazon-web-services.md
  content/nap-dos/deployment-guide/learn-about-deployment.md
  content/nap-dos/directives-and-policy/_index.md
  content/nap-dos/directives-and-policy/learn-about-directives-and-policy.md
  content/nap-dos/monitoring/_index.md
  content/nap-dos/monitoring/access-log.md
  content/nap-dos/monitoring/live-activity-monitoring.md
  content/nap-dos/monitoring/operation-log.md
  content/nap-dos/monitoring/security-log.md
  content/nap-dos/monitoring/types-of-logs.md
  content/nap-dos/releases/_index.md
  content/nap-dos/releases/learn-about-releases-v1.0.md
  content/nap-dos/releases/learn-about-releases-v1.1.0.md
  content/nap-dos/releases/learn-about-releases-v1.1.1.md
  content/nap-dos/releases/learn-about-releases-v2.0.md
  content/nap-dos/releases/learn-about-releases-v2.1.md
  content/nap-dos/releases/learn-about-releases-v2.2.md
  content/nap-dos/releases/learn-about-releases-v2.3.md
  content/nap-dos/releases/learn-about-releases-v2.4.md
  content/nap-dos/releases/learn-about-releases-v3.0.md
  content/nap-dos/releases/learn-about-releases-v3.1.md
  content/nap-dos/releases/learn-about-releases-v4.0.md
  content/nap-dos/releases/learn-about-releases-v4.1.md
  content/nap-dos/troubleshooting-guide/_index.md
  content/nap-dos/troubleshooting-guide/how-to-troubleshoot.md
  static/dashboard/dos-tab.png
Owners: @nginx-docs

add _index.md file update tables to use bootstrap-table and bootstrap table classes fix refs
  content/nap-dos/_index.md
  content/nap-dos/deployment-guide/learn-about-deployment.md
  content/nap-dos/directives-and-policy/learn-about-directives-and-policy.md
  content/nap-dos/monitoring/access-log.md
  content/nap-dos/monitoring/live-activity-monitoring.md
  content/nap-dos/monitoring/operation-log.md
  content/nap-dos/monitoring/security-log.md
  content/nap-dos/monitoring/types-of-logs.md
  content/nap-dos/releases/learn-about-releases-v1.0.md
  content/nap-dos/releases/learn-about-releases-v1.1.0.md
  content/nap-dos/releases/learn-about-releases-v2.0.md
  content/nap-dos/releases/learn-about-releases-v2.1.md
  content/nap-dos/releases/learn-about-releases-v2.2.md
  content/nap-dos/releases/learn-about-releases-v2.3.md
  content/nap-dos/releases/learn-about-releases-v2.4.md
  content/nap-dos/releases/learn-about-releases-v3.0.md
  content/nap-dos/releases/learn-about-releases-v3.1.md
  content/nap-dos/releases/learn-about-releases-v4.0.md
  content/nap-dos/releases/learn-about-releases-v4.1.md
  content/nap-dos/troubleshooting-guide/how-to-troubleshoot.md
Owners: @liorm39, @doronfoa, @rranghar, @AmitShnek, @aknot242, @nginx-docs

chore: edits to ACM data plane instructions
  content/nms/installation/on-prem/offline-install-guide.md
  static/scripts/fetch-external-acm-dataplane-dependencies.sh
Owners: @nginx-docs

chore: edits to ADM offline install steps
  content/includes/acm/installation/enable-start-nms-acm.md
  content/includes/acm/installation/install-acm-dataplane.md
  content/includes/acm/installation/install-acm.md
  content/includes/acm/installation/install-postgresql.md
  content/includes/acm/installation/upgrade-acm.md
  content/includes/adm/installation/install-adm-offline.md
  content/includes/adm/installation/install-adm.md
  content/nms/acm/how-to/devportals/install-devportal-offline.md
  content/nms/installation/on-prem/install-adm.md
  content/nms/installation/on-prem/offline-install-guide.md
Owners: @nginx-docs

chore: edits to ADM offline installation steps
  content/includes/adm/installation/enable-start-nms-adm.md
  content/includes/adm/installation/upgrade-adm-offline.md
  content/nms/installation/on-prem/offline-install-guide.md
Owners: @nginx-docs

fix merge conflicts in README.md
  README.md
Owners: @nginx-docs

chore: edits to prereqs
  content/nms/installation/on-prem/offline-install-guide.md
Owners: @nginx-docs
