Repository nginx/documentation, pull requests merged in 2025-09, with the labels that each got.

#1043 Add supported telemetry section to Agent V3 tech specs
  content/includes/agent/tech-specs.md
Labels: documentation, product/agent

#1044 fix nic cli arg for autoadjust
  content/nic/configuration/global-configuration/command-line-arguments.md
  content/nic/configuration/proxy-buffers-configuration.md
Labels: documentation, product/nic

#1047 fix: NIC Helm install: add spacing to prevent overflow
  content/nic/installation/installing-nic/installation-with-helm.md
Labels: documentation, product/nic

#1052 fix: docker-support.md
  content/agent/installation-upgrade/container-environments/docker-support.md
Labels: documentation, community, product/agent

#1015 Adding nginx-agent & nginx plus docs to linkchecker
  .github/workflows/linkchecker.yml
Labels: tooling

#1058 Linkchecker: fix misplaced param
  .github/workflows/linkchecker.yml
Labels: tooling

#1055 NGF: Bump NGF version for patch release
  layouts/shortcodes/version-ngf.html
Labels: tooling

#1059 F5Sites: Add yaml for links
  data/f5-sites.yaml
Labels: documentation

#1060 PLM Overview and Installation
  content/nap-waf/v5/admin-guide/overview.md
  content/nap-waf/v5/admin-guide/policy-lifecycle-management.md
  content/nap-waf/v5/configuration-guide/configuration.md
Labels: documentation, product/nap-waf

#1088 Added F5 to product doc entry pages
  content/ngf/_index.md
  content/nginxaas-azure/_index.md
  content/nic/_index.md
  content/nim/_index.md
Labels: documentation, product/nim, product/ngf, product/nginxaas, product/nic

#1080 PLM APSignatures CRD
  content/nap-waf/v5/admin-guide/policy-lifecycle-management.md
Labels: documentation, product/nap-waf

#1083 add documentation for NIC statefulset
  content/includes/nic/configuration/global-configuration/configmap-resource.md
  content/includes/nic/configuration/security.md
  content/includes/nic/installation/deploy-controller.md
  content/includes/nic/installation/manifests/statefulset.md
  content/nic/configuration/global-configuration/configmap-resource.md
  content/nic/configuration/policy-resource.md
  content/nic/configuration/security.md
  content/nic/installation/installing-nic/installation-with-helm.md
  content/nic/installation/installing-nic/installation-with-manifests.md
  content/nic/installation/integrations/app-protect-dos/installation.md
  content/nic/installation/integrations/app-protect-waf-v5/installation.md
  content/nic/installation/integrations/app-protect-waf/installation.md
  content/nic/logging-and-monitoring/prometheus.md
  content/nic/logging-and-monitoring/service-insight.md
  content/nic/overview/product-telemetry.md
  content/nic/troubleshooting/troubleshoot-common.md
  content/nic/tutorials/oidc-custom-configuration.md
Labels: documentation, product/nic

#1056 Add ingress2gateway information in Getting Started guide
  content/ngf/get-started.md
Labels: documentation, product/ngf

#1097 Fixed N4A cost calculator
  static/nginxaas-azure/js/cost-calculator_v2.js
Labels: bug, documentation

#1098 Wafmc 13048 doc offline solution ap signatures
  content/nap-waf/v5/admin-guide/policy-lifecycle-management.md
Labels: documentation, product/nap-waf

#1116 Update nic-nap.md
  content/includes/nic/compatibility-tables/nic-nap.md
Labels: documentation, product/nic

#1119 Update releases.md
  content/nic/releases.md
Labels: documentation, product/nic

#1118 Typo fix
  content/nginx-one/nginx-configs/config-sync-groups/manage-config-sync-groups.md
Labels: documentation, product/nginx-one

#1129 Update pull_request_template.md
  .github/pull_request_template.md
Labels: tooling

#1132 Fixed broken anchor in NGINX Plus docs
  content/nginx/admin-guide/installing-nginx/installing-nginx-docker.md
Labels: documentation, product/nginx-plus

#1134 docs: update date for latest entry
  content/nginxaas-azure/changelog.md
Labels: documentation, product/nginxaas-azure

#1136 Remove lighthouse from build workflow
  .github/workflows/build-push.yml
  .gitignore
  lighthouse-script.js
  package-lock.json
  package.json
Labels: tooling

#1131 URLs fix reported by QE LinkChecker
  content/nginx/admin-guide/load-balancer/http-health-check.md
  content/nginx/admin-guide/security-controls/configuring-oidc.md
  content/nginx/deployment-guides/load-balance-third-party/apache-tomcat.md
  content/nginx/deployment-guides/load-balance-third-party/microsoft-exchange.md
  content/nginx/deployment-guides/load-balance-third-party/node-js.md
  content/nginx/deployment-guides/load-balance-third-party/oracle-e-business-suite.md
  content/nginx/deployment-guides/load-balance-third-party/oracle-weblogic-server.md
  content/nginx/deployment-guides/load-balance-third-party/wildfly.md
  content/nginx/deployment-guides/migrate-hardware-adc/f5-big-ip-configuration.md
  content/nginx/deployment-guides/single-sign-on/active-directory-federation-services.md
  content/nginx/deployment-guides/single-sign-on/auth0.md
  content/nginx/deployment-guides/single-sign-on/cognito.md
  content/nginx/deployment-guides/single-sign-on/entra-id.md
  content/nginx/deployment-guides/single-sign-on/keycloak.md
  content/nginx/deployment-guides/single-sign-on/okta.md
  content/nginx/deployment-guides/single-sign-on/onelogin.md
  content/nginx/deployment-guides/single-sign-on/ping-identity.md
  content/nginx/fips-compliance-nginx-plus.md
Labels: documentation, product/nginx-plus

#1133 FIPS Compliance: OpenSSL compliance
  content/nginx/fips-compliance-nginx-plus.md
Labels: documentation, product/nginx-plus

#1099 fix: WAFMC-13098 Update PLM Installation Section
  content/nap-waf/v5/admin-guide/policy-lifecycle-management.md
Labels: documentation, product/nap-waf

#1121 fix: missing epel-release installation for Rocky8/9 installation
  content/nap-dos/deployment-guide/learn-about-deployment.md
Labels: documentation, product/nap-dos

#1012 Add Azure CLI example for package with protected files
  content/nginxaas-azure/getting-started/nginx-configuration/nginx-configuration-azure-cli.md
Labels: documentation, product/nginxaas-azure

#1020 clarify allowed upload directories
  content/nginxaas-azure/getting-started/nginx-configuration/overview.md
Labels: documentation, product/nginxaas-azure

#1105 NLB-6922: Notification on R35 release
  content/nginxaas-azure/changelog.md
  content/nginxaas-azure/module-changelog.md
Labels: documentation, product/nginxaas-azure

#1147 fix ordering in NIC policy doc
  content/nic/configuration/policy-resource.md
Labels: documentation, product/nic

#1143 fix: config path in managing-config-files
  content/nginx/admin-guide/basic-functionality/managing-configuration-files.md
Labels: documentation, product/nginx-plus

#1144 fix: include for NGINX on FreeBSD
  content/nginx/admin-guide/installing-nginx/installing-nginx-plus.md
Labels: documentation, product/nginx-plus

#1077 feat: WAF PLM Overview and Installation (#1060)
  content/nap-waf/v5/admin-guide/overview.md
  content/nap-waf/v5/admin-guide/policy-lifecycle-management.md
  content/nap-waf/v5/configuration-guide/configuration.md
Labels: documentation, product/nap-waf

#1154 Revert PR #854
  .github/workflows/dot-org-content.yml
Labels: tooling

#1162 Update OpenTelemetry wording on NIC 5.1.0 release notes
  content/nic/releases.md
Labels: documentation, product/nic

#1161 docs: re-add agent config doc
  content/agent/configuration/configure-nginx-agent-features.md
Labels: documentation, product/agent

#1173 NGF: Update release version 2.1.2
  layouts/shortcodes/version-ngf.html
Labels: tooling

#1177 Update NGINXaaS for Azure's changelog to mention connectivity tool
  content/nginxaas-azure/changelog.md
Labels: documentation, product/nginxaas-azure

#1137 feat: NGINXaaS - Certificate Fetch via Private Endpoint support
  content/includes/nginxaas-azure/ssl-tls-prerequisites.md
  content/nginxaas-azure/changelog.md
  content/nginxaas-azure/getting-started/ssl-tls-certificates/overview.md
  content/nginxaas-azure/known-issues.md
  content/nginxaas-azure/quickstart/security-controls/certificates.md
Labels: documentation, product/nginxaas-azure

#1169 fix: links reported by QE LinkChecker
  content/nginx/admin-guide/installing-nginx/installing-nginx-docker.md
  content/nginx/admin-guide/installing-nginx/installing-nginx-plus-amazon-web-services.md
  content/nginx/admin-guide/security-controls/configuring-http-basic-authentication.md
  content/nginx/admin-guide/web-server/reverse-proxy.md
  content/nginx/deployment-guides/amazon-web-services/high-availability-network-load-balancer.md
  content/nginx/deployment-guides/load-balance-third-party/oracle-weblogic-server.md
  content/nginx/deployment-guides/migrate-hardware-adc/f5-big-ip-configuration.md
  content/nginx/releases.md
Labels: documentation, product/nginx-plus

#1182 Update references to Gateway API spec in NGF docs
  content/ngf/traffic-management/basic-routing.md
Labels: documentation, product/ngf

#1185 docs: Fix path formatting for green tea route
  content/nic/configuration/virtualserver-and-virtualserverroute-resources.md
Labels: documentation, product/nic

#940 Fix agent container migration path
  content/includes/agent/installation/update-container.md
Labels: documentation, product/agent

#1192 docs: Update WAF documentation banner content
  _banners/waf-unification-notice.md
  content/nic/configuration/global-configuration/command-line-arguments.md
Labels: documentation, product/nic

#1202 Update per WAF refactor
  content/nginx-one/nap-integration/overview.md
Labels: documentation, product/nginx-one

#1206 docs: cropped the NGINX Plus startup check flowchart
  content/solutions/about-subscription-licenses/images/nginx-plus-startup-check.png
Labels: documentation
