Repository nginx/documentation, pull requests merged in 2025-08, with the labels that each got.

#919 Fix UI validation issue with clicking consent
  tests/utils/commonUtils.ts
Labels: bug

#928 fix: Remove last remaining old-style call-out
  content/nic/installation/installing-nic/installation-with-manifests.md
Labels: documentation, product/nic

#911 feat: Add a landing page for NGINX Gateway Fabric
  content/ngf/_index.md
Labels: documentation, product/ngf

#936 Update linkchecker.yml
  .github/workflows/linkchecker.yml
Labels: tooling

#932 NGF: Update scaling documentation and API
  content/ngf/how-to/scaling.md
  content/ngf/overview/gateway-api-compatibility.md
  content/ngf/reference/api.md
Labels: documentation, product/ngf

#908 fix: Update manual install steps for RHEL-9
  content/includes/installation/add-nms-repo.md
  content/nim/nginx-app-protect/setup-waf-config-management.md
Labels: documentation, product/nim

#947 Fix rendering issues on azure landing page
  content/nginxaas-azure/_index.md
Labels: bug, documentation, product/nginxaas

#945 Update linkchecker action
  .github/workflows/linkchecker.yml
Labels: tooling

#951 NGINX Plus R35.
  content/includes/nginx-plus/supported-distributions.md
  content/nginx/admin-guide/dynamic-modules/acme.md
  content/nginx/admin-guide/dynamic-modules/dynamic-modules.md
  content/nginx/admin-guide/dynamic-modules/opentelemetry.md
  content/nginx/admin-guide/installing-nginx/installing-nginx-open-source.md
  content/nginx/admin-guide/installing-nginx/installing-nginx-plus.md
  content/nginx/admin-guide/monitoring/live-activity-monitoring.md
  content/nginx/admin-guide/security-controls/configuring-oidc.md
  content/nginx/admin-guide/yaml/v9/nginx_api.yaml
  content/nginx/open-source-components.md
  content/nginx/releases.md
  content/nginx/technical-specs.md
  content/solutions/about-subscription-licenses.md
Labels: documentation, product/nginx-plus

#950 fix: remove NSP warning
  content/nginxaas-azure/quickstart/security-controls/certificates.md
Labels: documentation, product/nginxaas

#937 NGINX App Protect DoS 4.7 Release
  content/nap-dos/deployment-guide/learn-about-deployment.md
  content/nap-dos/releases/about-4.7.md
Labels: documentation, product/nap-dos

#938 NGINX App Protect WAF 5.8 Release
  content/includes/nap-waf/policy.html
  content/nap-waf/v4/admin-guide/install.md
  content/nap-waf/v4/releases/about-4.16.md
  content/nap-waf/v5/releases/about-5.8.md
  data/nap-waf/schema/policy.json
Labels: documentation, product/nap-waf

#956 feat: Fix NAP 5.8 R35 note
  content/nap-waf/v5/releases/about-5.8.md
Labels: documentation, product/nap-waf

#943 Add new user to jwt token generation for coveo
  .github/workflows/coveo.yml
Labels: tooling

#946 Update product icons
  content/_index.md
  content/agent/_index.md
  content/agent/configuration/_index.md
  content/agent/installation-upgrade/_index.md
  content/agent/installation-upgrade/container-environments/_index.md
  content/ngf/_index.md
  content/nginx-one/_index.md
  content/nginx/_index.md
  content/nic/_index.md
  content/nim/_index.md
  content/unit/_index.md
  layouts/index.html
Labels: documentation, product/nim, product/nginx-plus, product/ngf, product/nginx-one, product/nginxaas, product/agent, product/unit, tooling, product/nic

#944 NGF: Update telemetry doc for nginx one console connection metric
  content/ngf/overview/product-telemetry.md
Labels: documentation, product/nim, product/ngf, tooling

#965 fix: N1C update glossary description on front doc page
  content/nginx-one/_index.md
Labels: documentation, product/nginx-one

#964 Update linkchecker.yml
  .github/workflows/linkchecker.yml
Labels: tooling

#968 NGF release 2.1
  content/ngf/how-to/data-plane-configuration.md
  content/ngf/how-to/scaling.md
  content/ngf/install/upgrade-version.md
  content/ngf/overview/gateway-api-compatibility.md
  content/ngf/overview/product-telemetry.md
  content/ngf/reference/api.md
  content/ngf/reference/cli-help.md
  layouts/shortcodes/version-ngf.html
Labels: documentation, product/ngf, tooling

#987 Embed mermaid code in markdown files
  content/ngf/traffic-management/advanced-routing.md
  content/ngf/traffic-management/basic-routing.md
  static/ngf/img/src/README.md
  static/ngf/img/src/advanced-routing.mermaid
  static/ngf/img/src/route-all-traffic-app.mermaid
  static/ngf/img/src/route-all-traffic-config.mermaid
  static/ngf/img/src/route-all-traffic-flow.mermaid
Labels: documentation, product/ngf

#963 add website docs for NIC cache policy
  content/nic/configuration/policy-resource.md
Labels: documentation, product/nic

#988 Remove unsupported os reference
  content/agent/installation-upgrade/upgrade.md
Labels: documentation, product/agent

#989 feat: Fix erroneous upgrade link
  content/includes/nic/installation/create-custom-resources.md
Labels: documentation, product/nic

#892 Added landing page cards for NIM
  content/nim/_index.md
  content/nim/monitoring/_index.md
  content/nim/nginx-app-protect/_index.md
  content/nim/nginx-configs/_index.md
  content/nim/nginx-instances/_index.md
  content/nim/system-configuration/_index.md
Labels: documentation, product/nim

#681 Epic 472 port nginx one labs
  content/includes/config-snippets/enable-nplus-api-dashboard.md
  content/includes/nginx-one/cloud-access-nginx.md
  content/includes/nginx-one/cloud-access.md
  content/includes/nginx-one/workshops/xc-account.md
  content/includes/use-cases/monitoring/enable-nginx-plus-api-with-config-sync-group.md
  content/includes/use-cases/monitoring/enable-nginx-plus-api.md
  content/includes/workshops/nginx-one-env-variables.md
  content/nginx-one/_index.md
  content/nginx-one/nginx-configs/metrics/enable-metrics.md
  content/nginx-one/workshops/_index.md
  content/nginx-one/workshops/lab1/getting-started-with-nginx-one.md
  content/nginx-one/workshops/lab2/run-workshop-components-with-docker.md
  content/nginx-one/workshops/lab3/explore-nginx-one-console-and-features.md
  content/nginx-one/workshops/lab4/config-sync-groups.md
  content/nginx-one/workshops/lab5/upgrade-nginx-plus-to-latest-version.md
  static/nginx-one/images/ai-assistant.png
  static/nginx-one/images/config-recommendation.png
  static/nginx-one/images/config-sync-edits.png
  static/nginx-one/images/config-sync-status.png
  static/nginx-one/images/unavailable-instances.png
  static/workshops/nginx-one/lab2/compose.yaml
  static/workshops/nginx-one/lab2/generate_certs.sh
  static/workshops/nginx-one/lab2/nginx-oss/etc/nginx/conf.d/cafe.example.com.conf
  static/workshops/nginx-one/lab2/nginx-oss/etc/nginx/conf.d/stub_status.conf
  static/workshops/nginx-one/lab2/nginx-oss/etc/nginx/conf.d/tls-cars.example.com.conf
  static/workshops/nginx-one/lab2/nginx-oss/etc/nginx/conf.d/upstreams.conf
  static/workshops/nginx-one/lab2/nginx-oss/etc/nginx/includes/keepalive.conf
  static/workshops/nginx-one/lab2/nginx-oss/etc/nginx/includes/log_formats/main_ext.conf
  static/workshops/nginx-one/lab2/nginx-oss/etc/nginx/includes/proxy_headers.conf
  static/workshops/nginx-one/lab2/nginx-oss/etc/nginx/nginx.conf
  static/workshops/nginx-one/lab2/nginx-oss/etc/ssl/nginx/cars.crt
  static/workshops/nginx-one/lab2/nginx-oss/etc/ssl/nginx/cars.key
  static/workshops/nginx-one/lab2/nginx-oss/usr/share/nginx/html/gtr.html
  static/workshops/nginx-one/lab2/nginx-oss/usr/share/nginx/html/gtr.jpg
  static/workshops/nginx-one/lab2/nginx-oss/usr/share/nginx/html/index.html
  static/workshops/nginx-one/lab2/nginx-oss/usr/share/nginx/html/nsx.html
  static/workshops/nginx-one/lab2/nginx-oss/usr/share/nginx/html/nsx.jpg
  static/workshops/nginx-one/lab2/nginx-oss/usr/share/nginx/html/rcf.html
  static/workshops/nginx-one/lab2/nginx-oss/usr/share/nginx/html/rcf.jpg
  static/workshops/nginx-one/lab2/nginx-plus/etc/nginx/conf.d/default.conf
  static/workshops/nginx-one/lab2/nginx-plus/etc/nginx/nginx.conf
  static/workshops/nginx-one/lab2/nginx-plus/usr/share/nginx/html/dashboard.html
  static/workshops/nginx-one/lab2/nginx-plus/usr/share/nginx/html/gtr.html
  static/workshops/nginx-one/lab2/nginx-plus/usr/share/nginx/html/gtr.jpg
  static/workshops/nginx-one/lab2/nginx-plus/usr/share/nginx/html/index.html
  static/workshops/nginx-one/lab2/nginx-plus/usr/share/nginx/html/nsx.html
  static/workshops/nginx-one/lab2/nginx-plus/usr/share/nginx/html/nsx.jpg
  static/workshops/nginx-one/lab2/nginx-plus/usr/share/nginx/html/rcf.html
  static/workshops/nginx-one/lab2/nginx-plus/usr/share/nginx/html/rcf.jpg
Labels: documentation, product/nginx-one, customer-success, onboarding

#998 Edited the NGINX Agent overview in the N1 Workshop Lab 1
  content/nginx-one/workshops/lab1/getting-started-with-nginx-one.md
Labels: documentation, product/nginx-one

#1005 Link to wrong rn
  content/nginx/_index.md
Labels: documentation, product/nginx-plus

#1011 docs(nim): remove closed "Won’t Fix" issues from Known Issues
  content/nim/releases/known-issues.md
Labels: documentation, product/nim

#1006 fix: Add clickhouse tuning steps
  content/nim/fundamentals/tech-specs.md
  content/nim/system-configuration/configure-clickhouse.md
Labels: documentation, product/nim, hold for edits

#1021 Formatting edits to the Configure ClickHouse doc
  content/nim/fundamentals/tech-specs.md
  content/nim/system-configuration/configure-clickhouse.md
Labels: documentation, product/nim

#1022 Update configure-clickhouse.md
  content/nim/system-configuration/configure-clickhouse.md
Labels: documentation, product/nim

#927 Update deploy-azure-cli.md
  content/nginxaas-azure/getting-started/create-deployment/deploy-azure-cli.md
Labels: documentation, product/nginxaas

#1028 update nic jwks keycache docs
  content/nic/configuration/policy-resource.md
Labels: documentation, product/nic

#1029 Remove instructions to setup squid with auth
  content/nginx-one/agent/configure-instance-reporting/connect-using-squid.md
Labels: documentation, product/nginx-one

#1030 Fix NMS rendering on mainframe
  _banners/eos-nms.md
  content/nms/_index.md
  layouts/_default/nms-eos-list.html
  layouts/partials/acm-eos/list-landing.html
  layouts/partials/acm-eos/list-main.html
  layouts/partials/breadcrumb.html
Labels: bug, documentation, tooling, product/nms

#1032 Fix rn-style shortcode usage issues in build
  content/amplify/known-issues.md
  content/nim/releases/known-issues.md
  content/nms/acm/releases/known-issues.md
  content/nms/acm/releases/release-notes.md
Labels: bug, documentation, product/nim, product/amplify, product/nms

#1033 Add n1c workshop cards
  content/includes/nginx-one/cloud-access.md
  content/includes/nginx-one/workshops/xc-account.md
  content/nginx-one/workshops/_index.md
  content/nginx-one/workshops/lab1/getting-started-with-nginx-one-console.md
  content/nginx-one/workshops/lab2/run-workshop-components-with-docker.md
  content/nginx-one/workshops/lab3/explore-nginx-one-console-features.md
Labels: documentation, product/nginx-one

#1034 chore: remove mentions of specific proxy
  content/nginx-one/connect-instances/connect-using-forward-proxy.md
Labels: documentation, product/nginx-one

#1025 docs: Connect NGINX Agent to NGINX One using an explicit forward proxy
  content/includes/installation/add-ports-agent-selinux.md
  content/includes/installation/enable-agent-selinux.md
  content/nginx-one/agent/configure-instance-reporting/_index.md
  content/nginx-one/agent/configure-instances/_index.md
  content/nginx-one/agent/configure-instances/configuration-overview.md
  content/nginx-one/agent/configure-instances/configure-agent-group.md
  content/nginx-one/agent/configure-instances/configure-selinux.md
  content/nginx-one/connect-instances/connect-using-forward-proxy.md
Labels: documentation, product/nginx-one

#1037 Fixed wrong baseurl for NAP5 and RHEL9 deployment
  content/includes/nap-waf/config/v5/host-based-nginx-instructions/nginx-plus-centos-8.md
  content/includes/nap-waf/config/v5/host-based-nginx-instructions/nginx-plus-centos-9.md
  content/nap-waf/v5/admin-guide/install.md
Labels: documentation, product/nap-waf
