Repository nginx/documentation, pull requests merged in 2025-10, with the labels that each got.

#1204 fix: typos in waf content
  content/includes/waf/policy.html
  content/waf/configure/nginx-features.md
  content/waf/configure/secure-mtls.md
  content/waf/install/disconnected-environment.md
  content/waf/install/docker.md
  content/waf/install/kubernetes-plm.md
  content/waf/logging/security-logs.md
  content/waf/policies/attack-signatures.md
  content/waf/policies/configuration.md
  content/waf/policies/data-guard.md
  content/waf/policies/deny-allow-ip.md
  content/waf/policies/ip-intelligence.md
  content/waf/policies/jwt-protection.md
Labels: documentation

#1208 Update linkchecker waf url
  .github/workflows/linkchecker.yml
Labels: tooling

#1209 Add example to show users how to set NGINX_AGENT_LABELS
  content/nginx-one/agent/configure-instances/configuration-overview.md
Labels: documentation, product/nginx-one

#1181 Remove restriction on combination of WAF policies
  content/nginxaas-azure/app-protect/configure-waf.md
  content/nginxaas-azure/changelog.md
  content/nginxaas-azure/known-issues.md
Labels: documentation, product/nginxaas-azure

#1222 NGF: Update release version to 2.1.4
  layouts/shortcodes/version-ngf.html
Labels: tooling

#1224 NIC: Add securityLogs table to WAF policy
  content/nic/configuration/policy-resource.md
Labels: documentation, product/nic

#1228 docs: WAF/Clarify XML and JSON content description
  content/includes/waf/table-policy-features.md
Labels: documentation

#1221 feat: templates and app-protect signature-sets api
  static/nginx-one/api/one.json
Labels: documentation

#1207 docs: Agent/add missing doc
  content/nginx-one/agent/configure-instances/configure-agent-features.md
Labels: documentation, product/nginx-one

#1260 docs: Update agent features configuration examples
  content/nginx-one/agent/configure-instances/configure-agent-features.md
Labels: documentation, product/nginx-one

#1183 docs: Revamp NGINX technical specs summary table
  content/nginx/technical-specs.md
Labels: documentation, product/nginx-plus, community

#1249 feat: Add additional F5 WAF for NGINX pages
  _banners/waf-parameter-reference.md
  content/includes/waf/table-policy-features.md
  content/waf/changelog/_index.md
  content/waf/install/virtual-environment.md
  content/waf/logging/custom-dimensions.md
  content/waf/logging/debug-logs.md
  content/waf/logging/operation-logs.md
  content/waf/logging/security-logs.md
  content/waf/policies/_index.md
  content/waf/policies/attack-signatures.md
  content/waf/policies/directives.md
  content/waf/policies/do-nothing.md
  content/waf/policies/external-references.md
  content/waf/policies/jwt-protection.md
  content/waf/policies/override-rules.md
  content/waf/policies/user-urls-parameters.md
  content/waf/policies/violations.md
Labels: documentation

#1264 Add workflow to prune stale branches
  .github/workflows/stale-branches.yml
Labels: enhancement, tooling

#1251 N1 waf signature sets release
  content/nginx-one/changelog.md
  content/nginx-one/nap-integration/add-signature-sets.md
  content/nginx-one/nap-integration/cookies-params-urls.md
  content/nginx-one/nap-integration/deploy-policy.md
  content/nginx-one/nap-integration/overview.md
  content/nginx-one/nap-integration/review-policy.md
  content/nginx-one/nap-integration/security-policy-api.md
  content/nginx-one/nap-integration/waf-policy-matching-types.md
Labels: documentation, product/nginx-one

#1267 Update agent v3 features table
  content/nginx-one/agent/configure-instances/configure-agent-features.md
Labels: documentation, product/nginx-one

#1266 docs: update changelog.md for N1C Instance Observability M3 release
  content/nginx-one/changelog.md
Labels: documentation, product/nginx-one

#1274 docs: Improve command formatting in configuration.md
  content/waf/policies/configuration.md
Labels: documentation

#1276 Docs: WAF bare metal install OS order
  content/waf/install/virtual-environment.md
Labels: documentation
