Repository nginx/documentation, pull requests merged in 2025-04, with the labels that each got.

#339 docs: Change root wording agent
  content/agent/install-upgrade/install.md
Labels: documentation, product/agent

#282 NGINX App Protect DoS 4.6
  content/nap-dos/deployment-guide/learn-about-deployment.md
  content/nap-dos/releases/about-1.2.0.md
  content/nap-dos/releases/about-4.6.md
Labels: documentation, product/nap-dos

#345 Correct the release date for NAP DoS 4.6
  content/nap-dos/releases/about-4.6.md
Labels: documentation, product/nap-dos

#347 fix: Update about-3.9.1.md broken link
  content/nap-waf/v4/releases/about-3.9.1.md
Labels: documentation, product/nap-waf

#344 Removed deprecation notice for Amazon Linux 2.
  content/nginx/releases.md
  content/nginx/technical-specs.md
Labels: documentation, product/nginx-plus

#350 docs: convert N+ support list to table
  content/nginx/releases.md
Labels: documentation, product/nginx-plus

#353 Update about-4.14.md
  content/nap-waf/v4/releases/about-4.14.md
Labels: documentation, product/nap-waf

#354 Fix printing on all browsers on new theme
  static/nginxaas-azure/css/cost-calculator_v2.css
Labels: bug, documentation

#356 Fix container height + add breadcrumbs for redocly
  layouts/redoc/single.html
Labels: bug, tooling

#357 docs: update agent v3 support doc
  content/agent/support.md
Labels: documentation, product/agent

#355 Create initial-site-settings.json
  .cloudcannon/initial-site-settings.json
Labels: tooling

#370 Added documentation for granular API groups feature in NGINX One
  content/nginx-one/changelog.md
Labels: documentation, product/nginx-one

#348 Partials: disable automatic links for custom product pages
  content/ngf/_index.md
  content/solutions/_index.md
  layouts/partials/list-main.html
Labels: documentation, product/ngf, tooling

#375 docs: about formatting
  content/agent/about.md
  go.mod
  go.sum
Labels: documentation, product/agent

#382 docs: Agent v3 tech spec
  content/agent/technical-specifications.md
  content/agent/v2/installation-upgrade/installation-unprivileged.md
  content/includes/nginx-plus/supported-distributions.md
  content/nginx/technical-specs.md
Labels: documentation, product/nginx-plus, product/agent

#380 Add missing colon in NGF yaml
  content/ngf/how-to/data-plane-configuration.md
Labels: documentation, product/ngf

#384 Fix missing semicolon
  content/solutions/about-subscription-licenses.md
Labels: documentation

#386 Update CODEOWNERS file
  .github/CODEOWNERS
Labels: tooling

#383 Typo fixed
  content/nim/admin-guide/license/report-usage-connected-deployment.md
  content/nim/deploy/vm-bare-metal/install-nim-deprecated.md
  content/nim/disconnected/report-usage-disconnected-deployment.md
  content/nim/system-configuration/secure-traffic.md
  content/nms/acm/tutorials/aws-deploy.md
  content/solutions/about-subscription-licenses.md
Labels: documentation, product/nim, product/nms

#377 Updated OpenTelemetry Dynamic module.
  content/nginx/admin-guide/dynamic-modules/opentelemetry.md
Labels: documentation, product/nginx-plus

#390 Update logging.md
  content/nginx/admin-guide/monitoring/logging.md
Labels: documentation, product/nginx-plus

#392 SelfService: Add page source edit and issue links param
  config/_default/config.toml
Labels: tooling

#379 N1C -- XC-based link update
  content/nginx-one/rbac/roles.md
Labels: bug, documentation, product/nginx-one

#378 Updated installation commands in Dynamic Modules.
  content/nginx/admin-guide/dynamic-modules/brotli.md
  content/nginx/admin-guide/dynamic-modules/cookie-flag.md
  content/nginx/admin-guide/dynamic-modules/dynamic-modules.md
  content/nginx/admin-guide/dynamic-modules/encrypted-session.md
  content/nginx/admin-guide/dynamic-modules/fips.md
  content/nginx/admin-guide/dynamic-modules/geoip.md
  content/nginx/admin-guide/dynamic-modules/geoip2.md
  content/nginx/admin-guide/dynamic-modules/headers-more.md
  content/nginx/admin-guide/dynamic-modules/http-substitutions-filter.md
  content/nginx/admin-guide/dynamic-modules/image-filter.md
  content/nginx/admin-guide/dynamic-modules/lua.md
  content/nginx/admin-guide/dynamic-modules/ndk.md
  content/nginx/admin-guide/dynamic-modules/nginscript.md
  content/nginx/admin-guide/dynamic-modules/nginx-waf.md
  content/nginx/admin-guide/dynamic-modules/opentracing.md
  content/nginx/admin-guide/dynamic-modules/passenger-open-source.md
  content/nginx/admin-guide/dynamic-modules/perl.md
  content/nginx/admin-guide/dynamic-modules/prometheus-njs.md
  content/nginx/admin-guide/dynamic-modules/rtmp.md
  content/nginx/admin-guide/dynamic-modules/set-misc.md
  content/nginx/admin-guide/dynamic-modules/spnego.md
  content/nginx/admin-guide/dynamic-modules/uninstall.md
  content/nginx/admin-guide/dynamic-modules/xslt.md
Labels: documentation, product/nginx-plus

#352 Update metrics docs, add run-container guide
  content/agent/how-to/export-metrics.md
  content/agent/how-to/run-agent-container.md
  content/agent/otel/configure-otel-metrics.md
  content/agent/otel/metrics.md
Labels: documentation, product/agent

#388 docs: NIM Known issues cleanup
  content/nim/releases/known-issues.md
Labels: documentation, product/nim

#398 improved readability
  content/nginx/admin-guide/web-server/app-gateway-uwsgi-django.md
Labels: documentation, product/nginx-plus, community

#403 Doc: Nim update Release notes
  content/nim/releases/known-issues.md
  content/nim/releases/release-notes.md
Labels: documentation, product/nim

#404 Updated Software Development Policy in Releases.
  content/nginx/releases.md
Labels: documentation, product/nginx-plus

#408 Update installing-nginx-plus-google-cloud-platform.md
  content/nginx/admin-guide/installing-nginx/installing-nginx-plus-google-cloud-platform.md
Labels: documentation, product/nginx-plus

#402 docs: Update CONTRIBUTING_DOCS.md
  CONTRIBUTING_DOCS.md
Labels: process documentation

#407 Update managing-configuration-files.md
  content/nginx/admin-guide/basic-functionality/managing-configuration-files.md
Labels: documentation, product/nginx-plus

#409 Bugfix on syslog port, added commands to list available NAPv5 images
  content/includes/nap-waf/bundles-volume-mount.md
  content/nap-waf/v5/admin-guide/deploy-on-docker.md
Labels: documentation, product/nap-waf

#411 Change endpoint for coveo token updates
  .github/workflows/coveo.yml
Labels: bug, tooling

#412 Add echo for debugging for coveo
  .github/workflows/coveo.yml
Labels: bug

#406 NLB-6321: Notification on R33 release
  content/nginxaas-azure/changelog.md
  content/nginxaas-azure/faq.md
Labels: documentation, product/nginxaas

#415 fix: update ambiguous link
  content/nim/nginx-app-protect/setup-waf-config-management.md
Labels: documentation, product/nim

#410 Update live-activity-monitoring.md
  content/nginx/admin-guide/monitoring/live-activity-monitoring.md
Labels: documentation, product/nginx-plus, community

#424 Refactor highlight shortcode to use ticks
  content/controller/releases/apim/apim-release-notes-3.19.2.md
  content/nginxaas-azure/known-issues.md
Labels: documentation, enhancement, product/nginxaas, product/controller

#425 Avoid Gerund #396
  content/nap-dos/deployment-guide/installing-nginx-plus-with-dos-and-waf-on-amazon-web-services.md
  content/nap-dos/monitoring/live-activity-monitoring.md
Labels: documentation, community, product/nap-dos

#419 Update runtime-control.md
  content/nginx/admin-guide/basic-functionality/runtime-control.md
Labels: documentation, product/nginx-plus, community

#423 Update managing-configuration-files.md
  content/nginx/admin-guide/basic-functionality/managing-configuration-files.md
Labels: documentation, product/nginx-plus, community

#426 fix: minimize reference to metrics
  content/includes/use-cases/monitoring/enable-nginx-plus-api.md
  content/nginx-one/getting-started.md
Labels: documentation, product/nginx-one

#416 Remove redundant content in staged-config-overview.md
  content/includes/nginx-one/staged-config-overview.md
Labels: documentation, product/nginx-one

#417 docs: update the NAP and NIM versions for NAP 4.14.0 and 5.6.0
  content/includes/nim/tech-specs/nim-app-protect-support.md
  content/nim/nginx-app-protect/setup-waf-config-management.md
Labels: documentation, product/nim

#429 Add NGF request mirror doc
  content/ngf/how-to/traffic-management/mirror.md
  content/ngf/overview/gateway-api-compatibility.md
Labels: documentation, product/ngf

#428 feat: Update Contributing guidelines for writers
  CONTRIBUTING_DOCS.md
Labels: process documentation

#441 Copy edit to NIM NAP WAF docs
  content/includes/agent/installation/install-agent-api.md
  content/includes/nim/nap-waf/restart-nms-integrations.md
  content/nim/nginx-app-protect/manage-waf-security-policies.md
  content/nim/nginx-app-protect/overview-nap-waf-config-management.md
  content/nim/nginx-app-protect/setup-waf-config-management.md
  content/nim/nginx-app-protect/waf-config-management.md
Labels: documentation, product/nim, product/agent

#442 DNS active health checks for NGINX Plus
  content/nginx/admin-guide/load-balancer/tcp-udp-load-balancer.md
  content/nginx/admin-guide/load-balancer/udp-health-check.md
Labels: documentation, product/nginx-plus

#447 NGF: Update custom policies table
  content/ngf/overview/custom-policies.md
  content/ngf/overview/product-telemetry.md
Labels: documentation, product/ngf

#451 Homepage: Add basic mainframe home page
  layouts/index.html
Labels: tooling

#397 NGINXaaS Custom Security Policies
  content/nginxaas-azure/app-protect/_index.md
  content/nginxaas-azure/app-protect/configure-waf.md
  content/nginxaas-azure/app-protect/enable-waf.md
  content/nginxaas-azure/changelog.md
  content/nginxaas-azure/known-issues.md
  content/nginxaas-azure/troubleshooting/troubleshooting.md
  go.mod
  go.sum
Labels: documentation, product/nginxaas

#457 Fixed typo in NIM docs
  content/nim/nginx-app-protect/setup-waf-config-management.md
Labels: documentation, product/nim

#454 Homepage: Fix nginxaas and unit links
  layouts/index.html
Labels: tooling

#435 feature: link to XC docs to create a namespace, update glossary
  content/nginx-one/glossary.md
  content/nginx-one/rbac/rbac-api.md
Labels: documentation, product/nginx-one

#434 Updated change log for namespace release
  content/nginx-one/changelog.md
Labels: documentation, product/nginx-one

#466 Revert "Updated change log for namespace release"
  content/nginx-one/changelog.md
Labels: documentation, product/nginx-one

#458 fix: missing space in ubuntu docker template
  content/nap-dos/deployment-guide/learn-about-deployment.md
Labels: documentation, product/nap-dos

#467 feat: Add prefix to custom frontmatter in Hugo archetypes
  archetypes/concept.md
  archetypes/default.md
  archetypes/tutorial.md
Labels: tooling

#461 NLB-6555 Updated sample k8s service manifest for NGINXaaS Load Balancer for Kubernetes
  content/nginxaas-azure/quickstart/loadbalancer-kubernetes.md
Labels: documentation, product/nginxaas

#453 NGF: Update documentation on accessing nginx container
  content/ngf/how-to/monitoring/dashboard.md
  content/ngf/how-to/monitoring/tracing.md
  content/ngf/how-to/monitoring/troubleshooting.md
  content/ngf/how-to/traffic-management/advanced-routing.md
  content/ngf/how-to/traffic-management/client-settings.md
  content/ngf/how-to/traffic-management/https-termination.md
  content/ngf/how-to/traffic-management/mirror.md
  content/ngf/how-to/traffic-management/redirects-and-rewrites.md
  content/ngf/how-to/traffic-management/request-response-headers.md
  content/ngf/how-to/traffic-management/routing-traffic-to-your-app.md
  content/ngf/how-to/traffic-management/snippets.md
  content/ngf/how-to/traffic-management/tls-passthrough.md
  content/ngf/how-to/traffic-management/upstream-settings.md
  content/ngf/how-to/traffic-security/integrating-cert-manager.md
  content/ngf/how-to/traffic-security/securing-backend-traffic.md
  content/ngf/installation/installing-ngf/manifests.md
  content/ngf/overview/nginx-plus.md
Labels: documentation, product/ngf

#430 Actualized Dynamic modules info for NGINX Plus
  content/nginx/admin-guide/dynamic-modules/cookie-flag.md
  content/nginx/admin-guide/dynamic-modules/dynamic-modules.md
  content/nginx/admin-guide/dynamic-modules/nginx-waf.md
  content/nginx/admin-guide/dynamic-modules/opentelemetry.md
  content/nginx/admin-guide/dynamic-modules/opentracing.md
  content/nginx/admin-guide/dynamic-modules/uninstall.md
  content/nginx/admin-guide/installing-nginx/installing-nginx-plus.md
Labels: documentation, product/nginx-plus

#450 NGF: Update architecture overview
  content/ngf/overview/gateway-architecture.md
  static/ngf/img/ngf-high-level.png
  static/ngf/img/ngf-pod.png
Labels: documentation, product/ngf

#471 Fixed broken anchor in link
  content/nim/nginx-app-protect/setup-waf-config-management.md
Labels: documentation, product/nim

#479 NGF: update Get started guide
  content/ngf/get-started.md
Labels: documentation, product/ngf

#481 Changelog update for Nginx One
  content/nginx-one/changelog.md
Labels: documentation, product/nginx-one
