Repository nginx/documentation, pull requests merged in 2025-01, with the labels that each got.

#50 Document the repo's branch protection rules
  CONTRIBUTING.md
Labels: documentation

#66 fix: Reorganize docs on NGINX One Console certificates into a table
  content/nginx-one/how-to/certificates/manage-certificates.md
Labels: enhancement

#61 Fix: remove duplicate content
  content/nginx-one/how-to/settings/instance-settings/_index.md
  content/nginx-one/how-to/settings/instance-settings/clean-up-unavailable-instances.md
Labels: bug
