Repository nginx/documentation, pull requests merged in 2025-03, with the labels that each got.

#244 Update product titles and articles in one.json
  static/nginx-one/api/one.json
Labels: community

#242 Resolved duplicate searchbox for Playwright locator
  tests/search.spec.ts
Labels: bug

#250 Update setting-up-nginx-demo-environment.md
  content/nginx/deployment-guides/setting-up-nginx-demo-environment.md
Labels: community

#252 Update setup-waf-config-management.md
  content/nim/nginx-app-protect/setup-waf-config-management.md
Labels: product/nim

#255 Update CONTRIBUTING_DOCS.md
  CONTRIBUTING_DOCS.md
Labels: community

#248 feature: Describe use of XC-based RBAC
  content/includes/security/rbac-intro.md
  content/nginx-one/rbac/_index.md
  content/nginx-one/rbac/overview.md
  content/nginx-one/rbac/rbac-api.md
  content/nginx-one/rbac/roles.md
  content/nim/admin-guide/rbac/overview-rbac.md
Labels: product/nginx-one

#249 Update NGF documentation on prometheus metrics
  content/ngf/how-to/monitoring/prometheus.md
  static/ngf/ngf-grafana-dashboard.json
Labels: product/ngf

#254 Update docs to point towards Standard V2
  content/nginxaas-azure/billing/overview.md
  content/nginxaas-azure/changelog.md
  content/nginxaas-azure/getting-started/nginx-configuration/overview.md
  content/nginxaas-azure/monitoring/metrics-catalog.md
  content/nginxaas-azure/overview/overview.md
  content/nginxaas-azure/quickstart/scaling.md
Labels: product/nginxaas

#268 feat: add labeler action
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: tooling

#274 Unpublished Global Server Load Balancing with Amazon Route 53 and NGINX Plus
  content/nginx/deployment-guides/amazon-web-services/route-53-global-server-load-balancing.md
Labels: documentation, product/nginx-plus

#269 Removed references to private registry
  content/nim/deploy/kubernetes/deploy-using-helm.md
Labels: product/nim

#277 Removed redundant call-out shortcode
  layouts/shortcodes/call-out.html
Labels: enhancement, tooling

#267 Nap helm chart
  content/nap-waf/v5/admin-guide/deploy-on-kubernetes/_index.md
  content/nap-waf/v5/admin-guide/deploy-on-kubernetes/deploy-with-helm.md
  content/nap-waf/v5/admin-guide/deploy-on-kubernetes/deploy-with-manifests.md
Labels: documentation, product/nap-waf

#281 feat: Remove broken link to Yioop search engine
  content/includes/nap-waf/config/common/anti-automation.md
Labels: documentation, product/nap-waf

#279 feat: Update docs - with overview for App Protect DoS eBPF manager
  content/nap-dos/deployment-guide/learn-about-deployment.md
Labels: documentation, product/nap-dos

#283 Minor updates for NGINX OSS and Plus installation guides.
  content/includes/nginx-plus/install/copy-jwt-to-etc-nginx-dir.md
  content/nginx/admin-guide/installing-nginx/installing-nginx-open-source.md
  content/nginx/admin-guide/installing-nginx/installing-nginx-plus.md
Labels: documentation, product/nginx-plus

#286 Update call-out shortcode usage in Contributing
  CONTRIBUTING_DOCS.md
Labels: documentation, process documentation

#247 NLB-5919 Inform users of the new nginxaas.capacity.percentage metric
  content/nginxaas-azure/changelog.md
  content/nginxaas-azure/monitoring/metrics-catalog.md
  content/nginxaas-azure/quickstart/scaling.md
Labels: documentation, product/nginxaas

#265 Update and clarify NGINX One RBAC docs
  content/nginx-one/rbac/rbac-api.md
  content/nginx-one/rbac/roles.md
Labels: documentation, product/nginx-one

#289 Update NGF cert-manager docs
  content/ngf/how-to/traffic-security/integrating-cert-manager.md
Labels: documentation, product/ngf

#238 Added known issues for NIM 2.19.0
  content/nim/releases/known-issues.md
Labels: documentation, product/nim

#230 feature, NGINX One: Add release note for certs on CSGs
  content/nginx-one/changelog.md
Labels: documentation, product/nginx-one

#295 Fix NGF header link
  content/ngf/how-to/data-plane-configuration.md
Labels: documentation, product/ngf

#261 Fix: update per user self-build feedback
  CONTRIBUTING_DOCS.md
Labels: process documentation

#298 feat: Update NIM Security Monitoring front matter and reference links
  content/nim/nginx-app-protect/security-monitoring/_index.md
  content/nim/nginx-app-protect/security-monitoring/set-up-app-protect-instances.md
  content/nim/nginx-app-protect/security-monitoring/troubleshooting.md
  content/nim/nginx-app-protect/security-monitoring/update-geo-db.md
  content/nim/nginx-app-protect/security-monitoring/update-signatures.md
  content/nim/nginx-app-protect/setup-waf-config-management.md
Labels: documentation, product/nim

#297 docs: add agent unprivileged doc
  content/agent/installation-upgrade/installation-unprivileged.md
Labels: documentation, product/agent

#302 fix: repair N1C API guide
  content/nginx-one/api/api-reference-guide.md
Labels: documentation, product/nginx-one

#301 Update Generated Documentation
  content/includes/nap-waf/policy.html
  data/nap-waf/schema/policy.json
Labels: documentation, product/nap-waf

#293 feat: Add process templates for GitHub issues
  .github/ISSUE_TEMPLATE/1-feature_request.md
  .github/ISSUE_TEMPLATE/2-bug_report.md
  .github/ISSUE_TEMPLATE/3-story_task.md
  .github/ISSUE_TEMPLATE/4-epic_overview.md
  .github/ISSUE_TEMPLATE/5-content_plan.md
Labels: tooling

#304 Raanan dos release 4.6
  content/nap-dos/deployment-guide/learn-about-deployment.md
  content/nap-dos/releases/about-4.6.md
Labels: documentation, product/nap-dos

#264 feature: define Staged Configs
  content/includes/nginx-one/staged-config-overview.md
  content/nginx-one/changelog.md
  content/nginx-one/glossary.md
  content/nginx-one/how-to/nginx-configs/view-edit-nginx-configurations.md
  content/nginx-one/how-to/staged-configs/_index.md
  content/nginx-one/how-to/staged-configs/add-staged-config.md
  content/nginx-one/how-to/staged-configs/api-staged-config.md
  content/nginx-one/how-to/staged-configs/edit-staged-config.md
  go.mod
  static/nginx-one/api/one.json
Labels: documentation, product/nginx-one

#305 fix "debian/ubuntu instruction" for service
  content/nap-dos/deployment-guide/learn-about-deployment.md
  content/nap-dos/releases/about-4.6.md
Labels: documentation, product/nap-dos

#306 feat: Update docs - Arbitrator 1.2.0
  content/nap-dos/releases/about-1.2.0.md
Labels: documentation, product/nap-dos

#314 Improve readability of NGINX reverse proxy doc (#299)
  content/nginx/admin-guide/web-server/reverse-proxy.md
Labels: documentation, product/nginx-plus, community

#316 feat: Add closed contribution process
  CLOSED_CONTRIBUTIONS.md
  F5-NGINX-team-notes.md
Labels: process documentation

#319 Remove the limitation 'Policies with modifications' in NIM
  content/nim/nginx-app-protect/setup-waf-config-management.md
Labels: documentation, product/nim

#323 feat: Update closed documentation process
  CLOSED_CONTRIBUTIONS.md
Labels: process documentation

#321 NGINX Instance Manager 2.19.1
  content/includes/nim/tech-specs/nim-app-protect-support.md
  content/nim/releases/known-issues.md
  content/nim/releases/release-notes.md
Labels: documentation, product/nim

#322 fix: typos
  content/nginx-one/how-to/staged-configs/add-staged-config.md
  content/nginx-one/how-to/staged-configs/api-staged-config.md
Labels: bug, documentation, product/nginx-one

#324 feature: update version for NIM script
  static/scripts/install-nim-bundle.sh
Labels: documentation

#315 NGF: Secret support for BackendTLSPolicy
  content/ngf/how-to/traffic-security/securing-backend-traffic.md
  content/ngf/overview/gateway-api-compatibility.md
Labels: documentation, product/ngf

#329 Updates the agent os supported versions
  content/agent/technical-specifications.md
Labels: documentation, product/agent

#330 feat: Update closed contribution documentation with new branch
  CLOSED_CONTRIBUTIONS.md
Labels: process documentation

#332 Add UK West and UK South regions to tier-3 in the cost calculator and…
  content/nginxaas-azure/changelog.md
  content/nginxaas-azure/overview/overview.md
  static/nginxaas-azure/js/cost-calculator_v2.js
Labels: documentation, product/nginxaas

#337 Fix - sync with internal change
  content/nginx/admin-guide/installing-nginx/installing-nginx-docker.md
Labels: documentation, product/nginx-plus

#327 docs: review Agent v3 install doc
  content/agent/install-upgrade/install.md
  content/includes/agent/installation/manually-connect-to-console.md
Labels: documentation, product/agent

#334 Edited doc to improve readability
  content/nginx/deployment-guides/load-balance-third-party/apache-tomcat.md
Labels: documentation, product/nginx-plus, community
