Repository nginx/documentation, pull requests merged in 2025-05, with the labels that each got.

#484 Added step to reload NGINX after adding JWT
  content/includes/licensing-and-reporting/apply-jwt.md
  content/includes/licensing-and-reporting/configure-nginx-plus-report-to-nim.md
  content/solutions/about-subscription-licenses.md
Labels: documentation

#468 Move Agent v3 Docs under NGINX One Console
  content/agent/_index.md
  content/agent/about.md
  content/agent/changelog.md
  content/agent/community.md
  content/agent/configuration/_index.md
  content/agent/configuration/configuration-overview.md
  content/agent/configuration/configure-nginx-agent-group.md
  content/agent/configuration/encrypt-communication.md
  content/agent/configuration/health-checks.md
  content/agent/contribute/_index.md
  content/agent/contribute/community.md
  content/agent/contribute/dev-environment-setup.md
  content/agent/contribute/start-mock-interface.md
  content/agent/installation-upgrade/_index.md
  content/agent/installation-upgrade/container-environments/_index.md
  content/agent/installation-upgrade/container-environments/docker-images.md
  content/agent/installation-upgrade/container-environments/docker-support.md
  content/agent/installation-upgrade/getting-started.md
  content/agent/installation-upgrade/installation-github.md
  content/agent/installation-upgrade/installation-oss.md
  content/agent/installation-upgrade/installation-plus.md
  content/agent/installation-upgrade/installation-unprivileged.md
  content/agent/installation-upgrade/uninstall.md
  content/agent/installation-upgrade/upgrade.md
  content/agent/otel/_index.md
  content/agent/tech-specs.md
  content/agent/technical-specifications.md
  content/agent/v2/_index.md
  content/agent/v2/changelog.md
  content/agent/v2/configuration/_index.md
  content/includes/agent/about.md
  content/includes/agent/installation/prerequisites.md
  content/nginx-one/agent/_index.md
  content/nginx-one/agent/about.md
  content/nginx-one/agent/changelog.md
  content/nginx-one/agent/community.md
  content/nginx-one/agent/configure-otel-metrics.md
  content/nginx-one/agent/connect-instances-to-console.md
  content/nginx-one/agent/how-to/_index.md
  content/nginx-one/agent/how-to/configuration-overview.md
  content/nginx-one/agent/how-to/configure-agent-group.md
  content/nginx-one/agent/how-to/connect-management-plane.md
  content/nginx-one/agent/how-to/enable-interfaces.md
  content/nginx-one/agent/how-to/encrypt-communication.md
  content/nginx-one/agent/how-to/run-agent-container.md
  content/nginx-one/agent/install-from-oss-repo.md
  content/nginx-one/agent/install-from-plus-repo.md
  content/nginx-one/agent/install-upgrade/_index.md
  content/nginx-one/agent/install-upgrade/install-from-github.md
  content/nginx-one/agent/install-upgrade/install-from-oss-repo.md
  content/nginx-one/agent/install-upgrade/install-from-plus-repo.md
  content/nginx-one/agent/install-upgrade/uninstall.md
  content/nginx-one/agent/install-upgrade/update.md
  content/nginx-one/agent/troubleshooting.md
  content/nginx-one/agent/uninstall.md
  content/nginx-one/agent/update.md
  content/nginx-one/getting-started.md
  layouts/agent-v2-migration/single.html
  layouts/partials/agent-v2-migration/list-main.html
Labels: documentation, product/nginx-one, product/agent, tooling

#485 NGF: Update control data plane split telemetry
  content/ngf/how-to/data-plane-configuration.md
  content/ngf/overview/product-telemetry.md
Labels: documentation, product/ngf

#487 Update mail-proxy.md
  content/nginx/admin-guide/mail-proxy/mail-proxy.md
Labels: documentation, product/nginx-plus, community

#422 fix: N1C. Help users look for "out of sync" Instances in a CSG
  content/nginx-one/how-to/config-sync-groups/manage-config-sync-groups.md
Labels: documentation, product/nginx-one

#495 Update installing-nginx-plus-amazon-web-services.md
  content/nginx/admin-guide/installing-nginx/installing-nginx-plus-amazon-web-services.md
Labels: documentation, product/nginx-plus

#496 Update managing-configuration-files.md
  content/nginx/admin-guide/basic-functionality/managing-configuration-files.md
Labels: documentation, product/nginx-plus, community

#498 Rewrite of the error log and access log sections
  content/nginx/admin-guide/monitoring/logging.md
Labels: documentation, product/nginx-plus, community

#497 Update securing-http-traffic-upstream.md
  content/nginx/admin-guide/security-controls/securing-http-traffic-upstream.md
Labels: documentation, product/nginx-plus, community

#501 Update installing-nginx-plus-google-cloud-platform.md
  content/nginx/admin-guide/installing-nginx/installing-nginx-plus-google-cloud-platform.md
Labels: documentation, product/nginx-plus, community

#500 Update installing-nginx-plus-microsoft-azure.md
  content/nginx/admin-guide/installing-nginx/installing-nginx-plus-microsoft-azure.md
Labels: documentation, product/nginx-plus

#503 Update ingress-controller-elastic-kubernetes-services.md
  content/nginx/deployment-guides/amazon-web-services/ingress-controller-elastic-kubernetes-services.md
Labels: documentation, product/nginx-plus

#508 Update serving-static-content.md
  content/nginx/admin-guide/web-server/serving-static-content.md
Labels: documentation, product/nginx-plus, community

#507 Update resource-validation.md
  content/ngf/overview/resource-validation.md
Labels: documentation, community, product/ngf

#499 Update installing-nginx-docker.md
  content/nginx/admin-guide/installing-nginx/installing-nginx-docker.md
Labels: documentation, product/nginx-plus

#505 Update content-caching.md
  content/nginx/admin-guide/content-cache/content-caching.md
Labels: documentation, product/nginx-plus, community

#511 Update overview.md
  content/nap-waf/v5/admin-guide/overview.md
Labels: documentation, community, product/nap-waf

#506 Update web-server.md
  content/nginx/admin-guide/web-server/web-server.md
Labels: documentation, product/nginx-plus, community

#525 Update NGINXaaS for Azure changelog
  content/nginxaas-azure/changelog.md
Labels: documentation, product/nginxaas

#518 Simplify readability for NGINX Plus Admin Guide: Gateway with uWSGI and Django
  content/nginx/admin-guide/web-server/app-gateway-uwsgi-django.md
Labels: documentation, product/nginx-plus

#519 Improve the article's readability; streamline the language.
  content/nginx/admin-guide/security-controls/securing-tcp-traffic-upstream.md
Labels: documentation, product/nginx-plus, community

#514 Update app-gateway-uwsgi-django.md
  content/nginx/admin-guide/web-server/app-gateway-uwsgi-django.md
Labels: documentation, product/nginx-plus, community

#517 361 httptraffic
  content/nginx/admin-guide/security-controls/securing-http-traffic-upstream.md
Labels: documentation, product/nginx-plus

#509 edit to introduction, add new response codes section
  content/nginx/admin-guide/security-controls/configuring-subrequest-authentication.md
Labels: documentation, product/nginx-plus

#516 docs: simplifies some of the Runtime State Sharing docs
  content/nginxaas-azure/quickstart/runtime-state-sharing.md
Labels: documentation, product/nginxaas

#520 Revised text and headers to adhere to style guide
  content/nginx/deployment-guides/amazon-web-services/high-availability-keepalived.md
Labels: documentation, product/nginx-plus, community

#526 feat: add some formatting and a better diagram for NGINXaaS DR.
  content/nginxaas-azure/disaster-recovery.md
  static/nginxaas-azure/n4a-dr-topology.png
Labels: documentation, product/nginxaas

#527 Revert "Revised text and headers to adhere to style guide"
  content/nginx/deployment-guides/amazon-web-services/high-availability-keepalived.md
Labels: documentation, product/nginx-plus

#528 Update high-availability-keepalived.md
  content/nginx/deployment-guides/amazon-web-services/high-availability-keepalived.md
Labels: documentation, product/nginx-plus, community

#512 PR from Jay
  content/nginx/admin-guide/security-controls/securing-http-traffic-upstream.md
Labels: documentation, product/nginx-plus, community

#531 feat: Update Hugo archetypes to remove HRs and change final subsection
  archetypes/concept.md
  archetypes/default.md
  archetypes/tutorial.md
Labels: tooling

#532 Add environment variables table to Configuration Overview
  content/nginx-one/agent/how-to/configuration-overview.md
Labels: documentation, product/nginx-plus, product/nginx-one, product/agent, tooling

#488 NGF: add control plane/data plane TLS doc
  content/ngf/how-to/traffic-security/integrating-cert-manager.md
  content/ngf/installation/installing-ngf/control-plane-certs.md
  content/ngf/installation/installing-ngf/helm.md
  content/ngf/installation/installing-ngf/manifests.md
Labels: documentation, product/ngf

#529 NGF: Update data plane configuration doc
  content/ngf/how-to/data-plane-configuration.md
Labels: documentation, product/ngf

#490 NGF: Scaling control plane and data plane pods
  content/ngf/how-to/scaling.md
  content/ngf/how-to/upgrade-apps-without-downtime.md
Labels: documentation, product/ngf

#538 docs: move n4a load balancer topic
  content/nginxaas-azure/changelog-archive/changelog-2024.md
  content/nginxaas-azure/changelog.md
  content/nginxaas-azure/loadbalancer-kubernetes.md
Labels: documentation, product/nginxaas

#541 fix: Update NIM rns date
  content/nim/releases/release-notes.md
Labels: documentation, product/nim

#543 Update aws nlb manifests installation
  content/ngf/installation/installing-ngf/manifests.md
Labels: documentation, product/ngf

#549 fix: Address typo update metadata for Add a Staged Configuration topic
  content/nginx-one/how-to/staged-configs/add-staged-config.md
Labels: documentation, product/nginx-one

#552 Updated example description for uwsgi and Django.
  content/nginx/admin-guide/web-server/app-gateway-uwsgi-django.md
Labels: documentation, product/nginx-plus

#548 Fixed URL to dynamic modules for Wildfly deployment guide.
  content/nginx/deployment-guides/load-balance-third-party/wildfly.md
Labels: documentation, product/nginx-plus

#546 Removed random symbols introduced in #512
  content/nginx/admin-guide/security-controls/securing-http-traffic-upstream.md
Labels: documentation, product/nginx-plus

#554 Add a new trigger to build push workflow
  .github/workflows/build-push.yml
Labels: enhancement, tooling

#550 NGF: Update Helm values where required for 2.0
  content/ngf/how-to/monitoring/tracing.md
  content/ngf/installation/installing-ngf/helm.md
Labels: documentation, product/ngf

#559 Update agent install docs
  content/includes/agent/installation/manually-connect-to-console.md
  go.mod
  go.sum
Labels: documentation, product/agent

#553 feature: Add import, export, bulk management of Staged Configs
  content/nginx-one/changelog.md
  content/nginx-one/how-to/staged-configs/api-staged-config.md
  content/nginx-one/how-to/staged-configs/import-export-staged-config.md
  static/nginx-one/api/one.json
Labels: documentation, product/nginx-one

#565 replaced instances of e.g. and i.e. with English equivalents
  content/agent/configuration/configuration-overview.md
  content/amplify/faq/nginx-amplify-agent.md
  content/amplify/nginx-amplify-agent/configuration-analysis.md
  content/amplify/nginx-amplify-agent/configuring-metric-collection.md
  content/amplify/nginx-amplify-agent/metadata-metrics-collection.md
  content/amplify/user-interface/account-settings.md
  content/amplify/user-interface/analyzer.md
  content/amplify/user-interface/dashboards.md
  content/amplify/user-interface/overview.md
  content/controller/releases/release-notes.md
  content/includes/nap-waf/config/common/grpc-content-profiles.md
  content/includes/nap-waf/config/common/json-web-token-overview.md
  content/includes/nap-waf/config/common/signature-sets.md
  content/nap-dos/directives-and-policy/learn-about-directives-and-policy.md
  content/nap-waf/v4/logging-overview/security-log.md
  content/nap-waf/v5/logging-overview/security-log.md
  content/ngf/how-to/data-plane-configuration.md
  content/nim/admin-guide/authentication/oidc/getting-started.md
  content/nim/admin-guide/authentication/oidc/microsoft-entra-automation.md
  content/nim/system-configuration/configure-high-availability.md
  content/nim/system-configuration/configure-with-config.md
  content/nms/nginx-agent/install-nginx-agent.md
Labels: documentation, product/nim, product/ngf, product/agent, product/amplify, product/controller, product/nap-dos, product/nap-waf, product/nms

#566 Revert "IP Groups in override-rules"
  content/includes/nap-waf/config/common/ip-groups-override-rules.md
  content/includes/nap-waf/config/common/ip-groups-overview.md
  content/nap-waf/v4/configuration-guide/configuration.md
  content/nap-waf/v5/configuration-guide/configuration.md
Labels: documentation, product/nap-waf

#558 NGF: update nginx metrics
  content/ngf/how-to/monitoring/prometheus.md
Labels: documentation, product/ngf

#530 NGF: Add Deploy data plane doc
  content/ngf/installation/installing-ngf/deploy-data-plane.md
  content/ngf/installation/installing-ngf/manifests.md
Labels: documentation, product/ngf

#540 NGF: Update Gateway Compatibility Document
  content/ngf/overview/gateway-api-compatibility.md
Labels: documentation, product/ngf

#489 add docs for staged configs phase 2
  static/nginx-one/api/one.json
Labels: documentation, product/nginx-one

#292 Update NGINXaaS documentation for native-metrics integration
  content/nginxaas-azure/changelog.md
  content/nginxaas-azure/monitoring/configure-alerts.md
  content/nginxaas-azure/monitoring/enable-monitoring.md
  content/nginxaas-azure/monitoring/metrics-catalog.md
Labels: documentation, product/nginxaas

#557 Fixed link to New Relic plugin.
  content/nginx/admin-guide/monitoring/new-relic-plugin.md
Labels: documentation, product/nginx-plus

#555 Fixed sentence about https in proxy_pass introduced in #517.
  content/nginx/admin-guide/security-controls/securing-http-traffic-upstream.md
Labels: documentation, product/nginx-plus

#576 Clean up files
  content/nginx-one/agent/how-to/connect-management-plane.md
  content/nginx-one/agent/how-to/enable-interfaces.md
  content/nginx-one/agent/how-to/encrypt-communication.md
Labels: documentation, product/nginx-one

#577 Update Agent v3 docs spelling errors
  content/includes/agent/installation/update-container.md
  content/includes/nginx-one/add-file/new-ssl-bundle.md
  go.mod
  go.sum
Labels: documentation, product/nginx-one, product/agent

#580 fix nginx one console broken link
  content/nginx-one/how-to/nginx-configs/add-instance.md
Labels: documentation, product/nginx-one

#556 NGF: Update missed imagePullSecret helm values
  content/ngf/installation/installing-ngf/helm.md
Labels: documentation, product/ngf

#579 Agent v3 - update glossary
  content/nginx-one/glossary.md
Labels: documentation, product/nginx-one

#578 chore: Remove redoc layout
  layouts/redoc/single.html
Labels: tooling

#581 NGINX One and Agent v3 docs improvements based on feedback
  content/nginx-one/getting-started.md
  content/nginx-one/how-to/nginx-configs/add-file.md
  content/nginx-one/how-to/nginx-configs/add-instance.md
  content/nginx-one/how-to/nginx-configs/clean-up-unavailable-instances.md
  content/nginx-one/how-to/nginx-configs/manage-config-sync-groups.md
  content/nginx-one/how-to/nginx-configs/view-edit-nginx-configurations.md
Labels: documentation, product/nginx-one

#564 NGF: Upgrade NGF from 1.x to 2.x
  content/ngf/how-to/_index.md
  content/ngf/installation/installing-ngf/control-plane-certs.md
  content/ngf/reference/_index.md
  content/ngf/releases.md
  content/ngf/support.md
  content/ngf/upgrading-ngf.md
Labels: documentation, product/ngf

#586 Fix CLOSED_CONTRIBUTIONS.md
  CLOSED_CONTRIBUTIONS.md
Labels: process documentation

#440 NLB-6321: R33 release announcement
  content/nginxaas-azure/changelog.md
Labels: documentation, product/nginxaas

#588 Updated Slack workflow with new PAT + small fixes to quotes
  .github/workflows/build-push.yml
Labels: tooling, github_actions

#589 Fixed Slack workflow with correct PAT
  .github/workflows/build-push.yml
Labels: tooling, github_actions

#587 Update supportpkg link for NGF
  content/ngf/support.md
Labels: documentation, product/ngf

#584 Fix NGF grafana for new metrics
  static/ngf/ngf-grafana-dashboard.json
Labels: documentation

#582 style guide: added "disconnected" as preferred term
  templates/style-guide.md
Labels: process documentation

#593 Tooling: Pull request triggers support slashes in branch names
  .github/workflows/build-push.yml
Labels: tooling

#599 Unit docs minor formatting fixes
  content/unit/changes.md
  content/unit/community.md
  content/unit/configuration.md
  content/unit/installation.md
Labels: documentation, product/unit

#597 fix: control nginx docs typo
  content/nginx/admin-guide/basic-functionality/runtime-control.md
Labels: documentation, product/nginx-plus, community

#606 Update name of AI Assistant to F5 AI Assistant
  content/includes/nginx-one/staged-config-overview.md
  content/nginx-one/changelog.md
  content/nginx-one/rbac/rbac-api.md
Labels: documentation, product/nginx-one

#611 replaced span styles with markdown
  content/nginx/admin-guide/installing-nginx/installing-nginx-plus-amazon-web-services.md
  content/nginx/admin-guide/monitoring/new-relic-plugin.md
  content/nginx/deployment-guides/amazon-web-services/high-availability-keepalived.md
  content/nginx/deployment-guides/amazon-web-services/high-availability-network-load-balancer.md
  content/nginx/deployment-guides/amazon-web-services/ingress-controller-elastic-kubernetes-services.md
  content/nginx/deployment-guides/amazon-web-services/route-53-global-server-load-balancing.md
  content/nginx/deployment-guides/global-server-load-balancing/ns1-global-server-load-balancing.md
  content/nginx/deployment-guides/google-cloud-platform/high-availability-all-active.md
  content/nginx/deployment-guides/load-balance-third-party/apache-tomcat.md
  content/nginx/deployment-guides/load-balance-third-party/microsoft-exchange.md
  content/nginx/deployment-guides/load-balance-third-party/node-js.md
  content/nginx/deployment-guides/load-balance-third-party/oracle-e-business-suite.md
  content/nginx/deployment-guides/load-balance-third-party/oracle-weblogic-server.md
  content/nginx/deployment-guides/load-balance-third-party/wildfly.md
  content/nginx/deployment-guides/microsoft-azure/high-availability-standard-load-balancer.md
  content/nginx/deployment-guides/microsoft-azure/virtual-machines-for-nginx.md
  content/nginx/deployment-guides/migrate-hardware-adc/citrix-adc-configuration.md
  content/nginx/deployment-guides/migrate-hardware-adc/f5-big-ip-configuration.md
  content/nginx/deployment-guides/nginx-plus-high-availability-chef.md
  content/nginx/deployment-guides/setting-up-nginx-demo-environment.md
  content/nginx/deployment-guides/single-sign-on/oidc-njs/active-directory-federation-services.md
  content/nginx/deployment-guides/single-sign-on/oidc-njs/cognito.md
  content/nginx/deployment-guides/single-sign-on/oidc-njs/keycloak.md
  content/nginx/deployment-guides/single-sign-on/oidc-njs/onelogin.md
  content/nginx/deployment-guides/single-sign-on/oidc-njs/ping-identity.md
Labels: documentation, product/nginx-plus

#613 NGF: Add allowedListeners to gateway api compatibility doc
  content/ngf/overview/gateway-api-compatibility.md
Labels: documentation, product/ngf

#615 Fixed Keycloak .well-known URL
  content/nginx/deployment-guides/single-sign-on/oidc-njs/keycloak.md
Labels: documentation, product/nginx-plus

#614 NGF: Update installation document with 2.x upgrade information
  content/ngf/installation/installing-ngf/helm.md
  content/ngf/installation/installing-ngf/manifests.md
Labels: documentation, product/ngf

#612 Update style-guide.md for AI Chatbots
  templates/style-guide.md
Labels: process documentation

#617 NGINX Plus R34 P1 Release Notes
  content/nginx/releases.md
Labels: documentation, product/nginx-plus

#605 fix: unmanaged certs only include metadata
  content/nginx-one/how-to/certificates/manage-certificates.md
  content/nginx-one/how-to/config-sync-groups/manage-config-sync-groups.md
Labels: documentation, product/nginx-one

#583 Removed unneeded R33 layouts and migrate to theme
  _banners/eos-cltr.md
  _banners/eos-mesh.md
  _banners/upgrade-r33.md
  content/controller/_index.md
  content/mesh/_index.md
  content/nim/deploy/_index.md
  layouts/acm-eos/list.html
  layouts/acm-eos/single.html
  layouts/ctlr-eos/list.html
  layouts/ctlr-eos/single.html
  layouts/mesh-eos/list.html
  layouts/mesh-eos/single.html
  layouts/nim-r33/list.html
  layouts/nim-r33/single.html
  layouts/partials/ctlr-eos/list-main.html
  layouts/partials/list-main.html
  layouts/partials/mesh-eos/list-main.html
  layouts/partials/nim-r33-version-requirement/list-main.html
  layouts/partials/r33-pre-release/list-main.html
  layouts/r33-pre-release/list.html
Labels: documentation, enhancement, product/nim, tooling, product/controller, product/mesh

#626 Fix inaccurate statement
  content/nginx-one/how-to/staged-configs/import-export-staged-config.md
Labels: documentation, product/nginx-one

#627 applied nb shortcode for non-breaking spaces and hyphens
  content/nginx/admin-guide/installing-nginx/installing-nginx-plus-amazon-web-services.md
  content/nginx/admin-guide/monitoring/new-relic-plugin.md
  content/nginx/deployment-guides/amazon-web-services/high-availability-keepalived.md
  content/nginx/deployment-guides/amazon-web-services/high-availability-network-load-balancer.md
  content/nginx/deployment-guides/amazon-web-services/ingress-controller-elastic-kubernetes-services.md
  content/nginx/deployment-guides/amazon-web-services/route-53-global-server-load-balancing.md
  content/nginx/deployment-guides/global-server-load-balancing/ns1-global-server-load-balancing.md
  content/nginx/deployment-guides/google-cloud-platform/high-availability-all-active.md
  content/nginx/deployment-guides/load-balance-third-party/apache-tomcat.md
  content/nginx/deployment-guides/load-balance-third-party/microsoft-exchange.md
  content/nginx/deployment-guides/load-balance-third-party/node-js.md
  content/nginx/deployment-guides/load-balance-third-party/oracle-e-business-suite.md
  content/nginx/deployment-guides/load-balance-third-party/oracle-weblogic-server.md
  content/nginx/deployment-guides/load-balance-third-party/wildfly.md
  content/nginx/deployment-guides/microsoft-azure/high-availability-standard-load-balancer.md
  content/nginx/deployment-guides/microsoft-azure/virtual-machines-for-nginx.md
  content/nginx/deployment-guides/migrate-hardware-adc/citrix-adc-configuration.md
  content/nginx/deployment-guides/migrate-hardware-adc/f5-big-ip-configuration.md
  content/nginx/deployment-guides/nginx-plus-high-availability-chef.md
  content/nginx/deployment-guides/setting-up-nginx-demo-environment.md
  content/nginx/deployment-guides/single-sign-on/oidc-njs/active-directory-federation-services.md
  content/nginx/deployment-guides/single-sign-on/oidc-njs/cognito.md
  content/nginx/deployment-guides/single-sign-on/oidc-njs/keycloak.md
  content/nginx/deployment-guides/single-sign-on/oidc-njs/onelogin.md
  content/nginx/deployment-guides/single-sign-on/oidc-njs/ping-identity.md
  go.mod
  go.sum
Labels: documentation, product/nginx-plus

#569 Added HTTP/3 to Tech Specs.
  content/nginx/technical-specs.md
Labels: documentation, product/nginx-plus

#633 enhancement: Move legal notice to an appropriate location
  content/nginx-one/about.md
  content/nginx-one/glossary.md
Labels: documentation, enhancement, product/nginx-one
