Repository nginx/documentation, pull requests merged in 2025-07, with the labels that each got.

#769 Added URLs to dynamic modules in Tech Specs.
  content/nginx/technical-specs.md
Labels: documentation, product/nginx-plus

#742 Update the NGINX One landing page for mainframe
  content/nginx-one/_index.md
Labels: documentation, enhancement, product/nginx-one

#510 feat: Add guidance for article usage to style guide
  documentation/style-guide.md
Labels: community, process documentation

#749 chore: update change log for Agent V3 N1C support.
  content/nginx-one/changelog.md
Labels: documentation, product/nginx-one

#747 fix: Added instruction to install NIM 2.19.0
  content/nim/deploy/kubernetes/deploy-using-helm.md
Labels: documentation, product/nim

#773 Fix broken links
  content/nginx-one/connect-instances/connect-nginx-plus-container-images-to-nginx-one.md
  content/nginx-one/nginx-configs/config-sync-groups/manage-config-sync-groups.md
Labels: documentation, product/nginx-one

#774 fix: updating command to print supported OS list
  content/includes/nim/installation/install-script-flags/distribution.md
  content/nim/deploy/vm-bare-metal/install.md
  content/nim/disconnected/add-license-disconnected-deployment.md
  static/scripts/install-nim-bundle.sh
Labels: documentation, product/nim

#768 Add End of Technical Support column to NIC releases
  content/nic/technical-specifications.md
Labels: documentation, product/nic

#776 Update the docs push action image version
  .github/workflows/build-push.yml
Labels: tooling

#782 Update linkchecker.yml
  .github/workflows/linkchecker.yml
Labels: tooling

#780 Change Linux Distros for App Protect in Tech Specs
  content/nginx/technical-specs.md
Labels: documentation, product/nginx-plus

#783 feat: Update repo READMEs and affected files
  .github/ISSUE_TEMPLATE/1-feature_request.md
  .github/ISSUE_TEMPLATE/2-bug_report.md
  .github/pull_request_template.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  documentation/writing-hugo.md
Labels: tooling, process documentation

#789 chore: config.toml deprecation fixes
  config/_default/config.toml
  config/production/config.toml
Labels: tooling

#793 Update NGINX Agent container instructions
  content/nginx-one/agent/containers/run-agent-container.md
Labels: documentation, product/nginx-one

#730 NGINX Ingress Controller Release 5.1.0
  content/nic/configuration/policy-resource.md
  content/nic/releases.md
  content/nic/technical-specifications.md
  layouts/shortcodes/nic-helm-version.html
  layouts/shortcodes/nic-operator-version.html
  layouts/shortcodes/nic-version.html
Labels: documentation, tooling, product/nic

#800 docs: add new Agent landing page
  content/agent/_index.md
Labels: documentation, product/agent

#803 NIC: Fix old nic urls
  content/nic/installation/installing-nic/_index.md
  content/nic/installation/integrations/_index.md
  content/nic/installation/nic-images/_index.md
Labels: documentation, product/nic

#799 Improve user experience in Get Started guide for NGF
  content/ngf/get-started.md
Labels: documentation, product/ngf, customer-success

#805 feat: adds helm docs for startup probe in NIC
  content/nic/installation/installing-nic/installation-with-helm.md
Labels: documentation, product/nic

#815 Update Generated Documentation
  content/includes/nap-waf/policy.html
  data/nap-waf/schema/policy.json
Labels: documentation, product/nap-waf

#817 Nap usecase stage1
  content/includes/nap-waf/config/common/nginx-app-protect-waf-terminology.md
  content/nginx-one/_index.md
  content/nginx-one/changelog.md
  content/nginx-one/glossary.md
  content/nginx-one/nap-integration/_index.md
  content/nginx-one/nap-integration/configure-policy.md
  content/nginx-one/nap-integration/deploy-policy.md
  content/nginx-one/nap-integration/overview.md
  content/nginx-one/nap-integration/review-policy.md
  content/nginx-one/nap-integration/security-policy-api.md
  static/nginx-one/api/one.json
Labels: documentation, product/nginx-one, product/nap-waf

#821 NGF: Update gateway-api compatibility docs
  content/ngf/overview/gateway-api-compatibility.md
Labels: documentation, product/ngf

#825 docs: update N1 config sync steps for v3
  content/nginx-one/nginx-configs/config-sync-groups/manage-config-sync-groups.md
Labels: documentation, product/nginx-one

#826 Style guide: added list of acronyms that don't need to be spelled out
  documentation/style-guide.md
Labels: documentation, product/nginx-one

#814 feature: Dos 4.7
  content/nap-dos/deployment-guide/learn-about-deployment.md
Labels: documentation, product/nap-dos

#834 NIC: Bump Helm chart and Helm operator shortcodes
  layouts/shortcodes/nic-helm-version.html
  layouts/shortcodes/nic-operator-version.html
Labels: tooling

#835 NIC: Bump Helm Chart version in release notes
  content/nic/releases.md
Labels: documentation, product/nic

#827 fix URL for agent connect to N1 Console
  content/includes/nginx-one/conf/nginx-agent-conf.md
Labels: documentation, product/nginx-one

#833 docs: Update blocked ports list for NGINXaaS Azure listen directive
  content/nginxaas-azure/getting-started/nginx-configuration/overview.md
Labels: documentation, product/nginxaas

#838 fix: updated the unsupported OS list
  content/includes/nim/tech-specs/supported-distros.md
Labels: documentation, product/nim

#840 Removed unneeded `isFeatured` param for cards
  content/nginx-one/_index.md
Labels: documentation, product/nginx-one

#842 Update on mainframe the correct url for Unit
  layouts/index.html
Labels: tooling

#852 fix: include for tech specs
  content/includes/nginx-plus/supported-distributions.md
Labels: documentation, product/nginx-plus

#853 fix: Add Offline steps to install WAF compiler on NIM
  content/nim/nginx-app-protect/setup-waf-config-management.md
Labels: documentation, product/nim

#824 feat: Add OpenTelemetry documentation
  content/nic/configuration/global-configuration/configmap-resource.md
  content/nic/logging-and-monitoring/_index.md
  content/nic/logging-and-monitoring/logging.md
  content/nic/logging-and-monitoring/opentelemetry.md
  content/nic/logging-and-monitoring/opentracing.md
  content/nic/logging-and-monitoring/prometheus.md
  content/nic/logging-and-monitoring/service-insight.md
  content/nic/logging-and-monitoring/status-page.md
  content/nic/releases.md
Labels: documentation, product/nic

#841 docs: add new NGINX Unit landing cards
  content/unit/_index.md
Labels: documentation, product/unit

#857 docs: update nginx-one api doc
  static/nginx-one/api/one.json
Labels: documentation

#866 Update multiple licenses
  content/solutions/about-subscription-licenses.md
Labels: documentation

#865 Add JWT license deployment steps for Config Sync Groups; clarify NIM instance group support
  content/includes/licensing-and-reporting/apply-jwt.md
  content/includes/licensing-and-reporting/deploy-jwt-with-csgs.md
  content/solutions/about-subscription-licenses.md
Labels: documentation, customer-success

#871 edits to about subscription licenses
  content/includes/licensing-and-reporting/apply-jwt.md
  content/includes/licensing-and-reporting/deploy-jwt-with-csgs.md
  content/solutions/about-subscription-licenses.md
Labels: documentation

#851 fix: updated the unsupported OS list
  content/includes/nim/tech-specs/supported-distros.md
Labels: documentation, product/nim

#862 NGF: Document patching dataplane Service, Deployment, DaemonSet
  content/ngf/how-to/data-plane-configuration.md
Labels: documentation, product/ngf

#872 Removed duplicated directive
  content/nim/nginx-app-protect/security-monitoring/set-up-app-protect-instances.md
Labels: documentation, product/nim

#864 Include option to clone in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: enhancement, process documentation

#873 docs: update v3 steps for NGINX One config proxy
  content/nginx-one/connect-instances/set-up-nginx-proxy-for-nginx-one.md
Labels: documentation, product/nginx-one

#887 fix: release notes and update sec monitoring tutorial
  content/nic/releases.md
  content/nic/tutorials/security-monitoring.md
Labels: documentation, product/nic

#792 fix: update section links in yaml
  content/nginx-one/nginx-configs/config-sync-groups/_index.md
  content/nginx-one/nginx-configs/staged-configs/_index.md
Labels: documentation, product/nginx-one

#896 Update compatibility table in Technical specifications
  content/agent/technical-specifications.md
Labels: documentation, product/agent

#899 Include JWT license reference to installing-nginx-docker.md
  content/nginx/admin-guide/installing-nginx/installing-nginx-docker.md
Labels: documentation, product/nginx-plus

#907 Rnitzan dos release 4.7
  content/nap-dos/deployment-guide/learn-about-deployment.md
Labels: documentation, product/nap-dos

#895 fix: Expose Agent config options
  content/nginx-one/agent/configure-instance-reporting/configuration-overview.md
Labels: documentation, product/nginx-one

#914 fix: update nic docs
  content/nic/tutorials/security-monitoring.md
Labels: documentation, product/nic

#915 fix: replace rel links with abs links in template
  .github/pull_request_template.md
Labels: tooling

#839 docs: Update Agent Supported Distributions and 3.0 Compatibility
  content/includes/agent/tech-specs.md
  content/nginx-one/agent/install-upgrade/install-from-github.md
  content/nginx-one/agent/install-upgrade/install-from-oss-repo.md
  content/nginx-one/agent/install-upgrade/install-from-plus-repo.md
  content/nginx-one/agent/install-upgrade/uninstall.md
Labels: documentation, product/nginx-one, product/agent

#913 Docs: Update supported OS's for agent V2
  content/agent/technical-specifications.md
Labels: documentation, product/agent
