Repository nginx/documentation, pull requests merged in 2025-02, with the labels that each got.

#163 fix: redoc menu content is now scrollable
  layouts/redoc/single.html
Labels: bug

#170 docs: NIM 2.19.0 release documentation
  content/includes/nim/docker/docker-compose-env-vars.md
  content/includes/nim/system-configuration/trust-proxy-ca-certificates.md
  content/nap-waf/v4/admin-guide/install-nms.md
  content/nim/admin-guide/authentication/oidc/getting-started.md
  content/nim/deploy/docker/deploy-nginx-instance-manager-docker-compose.md
  content/nim/deploy/kubernetes/deploy-using-helm.md
  content/nim/monitoring/security-monitoring/configure/_index.md
  content/nim/monitoring/security-monitoring/configure/create-role-security-monitoring.md
  content/nim/monitoring/security-monitoring/configure/set-up-app-protect-instances.md
  content/nim/monitoring/security-monitoring/configure/update-geo-db.md
  content/nim/monitoring/security-monitoring/configure/update-signatures.md
  content/nim/monitoring/security-monitoring/install-security-monitoring.md
  content/nim/monitoring/security-monitoring/releases/_index.md
  content/nim/monitoring/security-monitoring/releases/known-issues.md
  content/nim/monitoring/security-monitoring/releases/release-notes.md
  content/nim/monitoring/security-monitoring/troubleshooting.md
  content/nim/nginx-app-protect/security-monitoring/_index.md
  content/nim/nginx-app-protect/security-monitoring/give-access-to-security-monitoring-dashboards.md
  content/nim/nginx-app-protect/security-monitoring/set-up-app-protect-instances.md
  content/nim/nginx-app-protect/security-monitoring/troubleshooting.md
  content/nim/nginx-app-protect/security-monitoring/update-geo-db.md
  content/nim/nginx-app-protect/security-monitoring/update-signatures.md
  content/nim/nginx-app-protect/setup-waf-config-management.md
  content/nim/releases/known-issues.md
  content/nim/releases/release-notes.md
  content/nim/system-configuration/configure-forward-proxy.md
  content/nim/system-configuration/configure-high-availability.md
  content/nms/acm/how-to/install-acm.md
  content/nms/acm/how-to/policies/advanced-security.md
  static/scripts/docker-compose/docker-compose.yaml
Labels: product/nim, release

#159 Updated guide to use NGINX/NGINX Plus as the Ingress Controller in EKS
  content/nginx/deployment-guides/amazon-web-services/ingress-controller-elastic-kubernetes-services.md
Labels: in review

#157 improve readability and grammatical errors
  content/nginx/deployment-guides/google-cloud-platform/high-availability-all-active.md
Labels: in review

#184 Update EC2 Instances for NGINX page
  content/nginx/deployment-guides/amazon-web-services/ec2-instances-for-nginx.md
  static/img/aws/aws-generic-create-image-menu.png
  static/img/aws/aws-generic-instance-details.png
  static/img/aws/aws-generic-instance-display-first.png
  static/img/aws/aws-generic-instance-security-outbound.png
  static/img/aws/aws-instance-launch-success.png
  static/img/aws/aws-instance-select-sg.png
  static/img/aws/aws-instance-summary.png
  static/img/aws/aws-nlb-instance-choose-ami.png
  static/img/aws/aws-nlb-instance-choose-type.png
  static/img/aws/aws-nlb-instance-connect.png
  static/nginx/images/aws-generic-create-image-menu.png
  static/nginx/images/aws-generic-create-image-popup.png
  static/nginx/images/aws-generic-instance-details.png
  static/nginx/images/aws-generic-instance-display-first.png
  static/nginx/images/aws-generic-instance-launch.png
  static/nginx/images/aws-generic-instance-review-launch.png
  static/nginx/images/aws-generic-instance-security-group.png
  static/nginx/images/aws-generic-instance-security-inbound.png
  static/nginx/images/aws-generic-instance-security-outbound.png
  static/nginx/images/aws-generic-instance-select-one.png
  static/nginx/images/aws-instance-add-tags-name.png
  static/nginx/images/aws-nlb-instance-add-storage.png
  static/nginx/images/aws-nlb-instance-choose-ami.png
  static/nginx/images/aws-nlb-instance-choose-type.png
Labels: in review

#176 Revise for readability (#75)
  content/nginx/deployment-guides/amazon-web-services/high-availability-network-load-balancer.md
Labels: in review
