Repository nginx/documentation, pull requests merged in 2025-06, with the labels that each got.

#642 fix N1 footer link
  content/nginx-one/connect-instances/connect-nginx-plus-container-images-to-nginx-one.md
Labels: documentation, product/nginx-one

#644 dummy doc for redirect
  content/nginxaas-azure/troubleshooting.md
Labels: documentation, product/nginxaas

#641 Removed stray '\' and added NIM 2.19.2 to compatibility table
  content/includes/nim/tech-specs/nim-app-protect-support.md
  content/nim/disconnected/offline-install-guide.md
Labels: documentation, product/nim

#654 Resolved dot org link in N1 landing page
  content/nginx-one/_index.md
Labels: bug, documentation, product/nginx-one

#658 Add http_auth_jwt module to cryptographic boundary definition within 'NGINX Plus FIPS Compliance' document
  content/nginx/fips-compliance-nginx-plus.md
Labels: documentation, product/nginx-plus

#661 Agent info banner
  _banners/agent-v3-release.md
  content/agent/_index.md
  content/agent/technical-specifications.md
Labels: documentation, product/agent

#662 added steps for lab 2
  content/nginx-one/workshops/lab1/lab1.md
  content/nginx-one/workshops/lab2.md
  content/nginx-one/workshops/lab2/docker-compose.yml
  content/nginx-one/workshops/lab2/generate_certs.sh
  content/nginx-one/workshops/lab2/nginx-oss/etc/nginx/conf.d/cafe.example.com.conf
  content/nginx-one/workshops/lab2/nginx-oss/etc/nginx/conf.d/stub_status.conf
  content/nginx-one/workshops/lab2/nginx-oss/etc/nginx/conf.d/tls-cars.example.com.conf
  content/nginx-one/workshops/lab2/nginx-oss/etc/nginx/conf.d/upstreams.conf
  content/nginx-one/workshops/lab2/nginx-oss/etc/nginx/includes/keepalive.conf
  content/nginx-one/workshops/lab2/nginx-oss/etc/nginx/includes/log_formats/main_ext.conf
  content/nginx-one/workshops/lab2/nginx-oss/etc/nginx/includes/proxy_headers.conf
  content/nginx-one/workshops/lab2/nginx-oss/etc/nginx/nginx.conf
  content/nginx-one/workshops/lab2/nginx-oss/etc/ssl/nginx/1-day.crt
  content/nginx-one/workshops/lab2/nginx-oss/etc/ssl/nginx/1-day.key
  content/nginx-one/workshops/lab2/nginx-oss/etc/ssl/nginx/30-day.crt
  content/nginx-one/workshops/lab2/nginx-oss/etc/ssl/nginx/30-day.key
  content/nginx-one/workshops/lab2/nginx-oss/etc/ssl/nginx/cars.crt
  content/nginx-one/workshops/lab2/nginx-oss/etc/ssl/nginx/cars.key
  content/nginx-one/workshops/lab2/nginx-oss/usr/share/nginx/html/gtr.html
  content/nginx-one/workshops/lab2/nginx-oss/usr/share/nginx/html/gtr.jpg
  content/nginx-one/workshops/lab2/nginx-oss/usr/share/nginx/html/index.html
  content/nginx-one/workshops/lab2/nginx-oss/usr/share/nginx/html/nsx.html
  content/nginx-one/workshops/lab2/nginx-oss/usr/share/nginx/html/nsx.jpg
  content/nginx-one/workshops/lab2/nginx-oss/usr/share/nginx/html/rcf.html
  content/nginx-one/workshops/lab2/nginx-oss/usr/share/nginx/html/rcf.jpg
  content/nginx-one/workshops/lab2/nginx-plus/etc/nginx/conf.d/cafe.example.com.conf
  content/nginx-one/workshops/lab2/nginx-plus/etc/nginx/conf.d/dashboard.conf
  content/nginx-one/workshops/lab2/nginx-plus/etc/nginx/conf.d/default.conf
  content/nginx-one/workshops/lab2/nginx-plus/etc/nginx/conf.d/status_ok.conf
  content/nginx-one/workshops/lab2/nginx-plus/etc/nginx/conf.d/upstreams.conf
  content/nginx-one/workshops/lab2/nginx-plus/etc/nginx/includes/keepalive.conf
  content/nginx-one/workshops/lab2/nginx-plus/etc/nginx/includes/log_formats/main_ext.conf
  content/nginx-one/workshops/lab2/nginx-plus/etc/nginx/includes/proxy_headers.conf
  content/nginx-one/workshops/lab2/nginx-plus/etc/nginx/nginx.conf
  content/nginx-one/workshops/lab2/nginx-plus/usr/share/nginx/html/dashboard.html
  content/nginx-one/workshops/lab2/nginx-plus/usr/share/nginx/html/gtr.html
  content/nginx-one/workshops/lab2/nginx-plus/usr/share/nginx/html/gtr.jpg
  content/nginx-one/workshops/lab2/nginx-plus/usr/share/nginx/html/index.html
  content/nginx-one/workshops/lab2/nginx-plus/usr/share/nginx/html/nsx.html
  content/nginx-one/workshops/lab2/nginx-plus/usr/share/nginx/html/nsx.jpg
  content/nginx-one/workshops/lab2/nginx-plus/usr/share/nginx/html/rcf.html
  content/nginx-one/workshops/lab2/nginx-plus/usr/share/nginx/html/rcf.jpg
  content/nginx-one/workshops/lab2/readme.md
Labels: documentation, product/nginx-one

#664 style guide corrections to migrate metrics doc
  content/nginxaas-azure/monitoring/migrate-to-platform-metrics.md
Labels: documentation, product/nginxaas

#667 Renamed from products to components for N1
  content/nginx-one/_index.md
Labels: documentation, product/nginx-one

#672 Updated the value of ssl_protocols.
  content/nginx/admin-guide/load-balancer/http-load-balancer.md
  content/nginx/admin-guide/mail-proxy/mail-proxy.md
  content/nginx/admin-guide/security-controls/securing-http-traffic-upstream.md
  content/nginx/admin-guide/security-controls/securing-tcp-traffic-upstream.md
  content/nginx/admin-guide/security-controls/terminating-ssl-http.md
  content/nginx/admin-guide/security-controls/terminating-ssl-tcp.md
  content/nginx/deployment-guides/load-balance-third-party/microsoft-exchange.md
  content/nginx/deployment-guides/migrate-hardware-adc/f5-big-ip-configuration.md
  content/nginx/fips-compliance-nginx-plus.md
Labels: documentation, product/nginx-plus

#673 Add NGINX Agent v3.0 SELinux configuration guide
  content/includes/installation/add-ports-agent-selinux.md
  content/includes/installation/agent-selinux.md
  content/includes/installation/enable-agent-selinux.md
  content/nginx-one/agent/configure-instance-reporting/configure-selinux.md
  content/nim/system-configuration/configure-selinux.md
  content/nms/nginx-agent/install-nginx-agent.md
Labels: documentation, product/nim, product/nginx-one, product/nms

#671 NGF: Update release version to v2.0.1
  layouts/shortcodes/version-ngf.html
Labels: tooling

#669 NGF: replace static-mode with controller
  content/includes/ngf/installation/expose-nginx-gateway-fabric.md
  content/ngf/overview/gateway-api-compatibility.md
  content/ngf/traffic-management/basic-routing.md
Labels: documentation, product/ngf

#676 Fix missing quote
  content/ngf/overview/gateway-api-compatibility.md
Labels: documentation, product/ngf

#677 NGF: Fix small link to subsection
  content/includes/ngf/installation/nginx-plus/docker-registry-secret.md
Labels: documentation, product/ngf

#684 NIM release 2.20.0
  cleanup_log.txt
  content/includes/installation/add-nms-repo.md
  content/includes/installation/clickhouse-defaults.md
  content/includes/nginx-plus/usage-tracking/overview.md
  content/includes/nim/admin-guide/license/connected-install-license-note.md
  content/includes/nim/clickhouse/cli-skip-clickhouse.md
  content/includes/nim/clickhouse/clickhouse-defaults.md
  content/includes/nim/clickhouse/clickhouse-install.md
  content/includes/nim/docker/docker-compose-env-vars.md
  content/includes/nim/installation/install-script-flags/cert.md
  content/includes/nim/installation/install-script-flags/clickhouse-version.md
  content/includes/nim/installation/install-script-flags/distribution.md
  content/includes/nim/installation/install-script-flags/key.md
  content/includes/nim/installation/install-script-flags/skip-clickhouse.md
  content/includes/nim/installation/optional-steps/configure-clickhouse.md
  content/includes/nim/installation/optional-steps/configure-selinux.md
  content/includes/nim/installation/optional-steps/disable-metrics-collection.md
  content/includes/nim/installation/optional-steps/install-configure-vault.md
  content/includes/nim/kubernetes/nms-chart-supported-module-versions.md
  content/includes/nim/tech-specs/supported-distros.md
  content/includes/nim/tech-specs/supported-nginx-versions.md
  content/nim/admin-guide/_index.md
  content/nim/admin-guide/add-license.md
  content/nim/admin-guide/license/_index.md
  content/nim/admin-guide/rbac/overview-rbac.md
  content/nim/admin-guide/report-usage-connected-deployment.md
  content/nim/deploy/_index.md
  content/nim/deploy/docker/deploy-nginx-instance-manager-docker-compose.md
  content/nim/deploy/kubernetes/deploy-using-helm.md
  content/nim/deploy/kubernetes/helm-config-settings.md
  content/nim/deploy/vm-bare-metal/install-nim-deprecated.md
  content/nim/deploy/vm-bare-metal/install-nim-manual.md
  content/nim/deploy/vm-bare-metal/install.md
  content/nim/disconnected/_index.md
  content/nim/disconnected/add-license-disconnected-deployment.md
  content/nim/disconnected/offline-install-guide-manual.md
  content/nim/disconnected/offline-install-guide.md
  content/nim/disconnected/report-usage-disconnected-deployment.md
  content/nim/nginx-app-protect/security-monitoring/set-up-app-protect-instances.md
  content/nim/nginx-instances/add-instance.md
  content/nim/releases/known-issues.md
  content/nim/releases/release-notes.md
  content/nim/system-configuration/configure-clickhouse.md
  content/nim/system-configuration/configure-forward-proxy.md
  content/nim/system-configuration/configure-high-availability.md
  content/nim/system-configuration/configure-telemetry.md
  content/nim/system-configuration/configure-vault.md
  content/nim/system-configuration/configure-with-config.md
  content/nim/system-configuration/secure-traffic.md
  content/nms/acm/how-to/deploy-api-connectivity-manager.md
  content/nms/acm/how-to/install-acm.md
  content/nms/acm/tutorials/advanced-routing.md
  content/solutions/about-subscription-licenses.md
  layouts/shortcodes/clickhouse-version.html
  layouts/shortcodes/lightweight-nim-nginx-agent-version.html
  static/scripts/docker-compose/docker-compose-lightweight.yaml
  static/scripts/install-nim-bundle.sh
  static/scripts/license_usage_offline.sh
Labels: documentation, product/nim, product/nginx-plus, tooling, product/nms

#683 Update NGF example certs
  content/ngf/traffic-security/secure-backend.md
Labels: documentation, product/ngf

#687 fix: Update deploy-using-helm.md nms => nim
  content/nim/deploy/kubernetes/deploy-using-helm.md
Labels: documentation, product/nim

#689 Changed variable name for Slack webhook in notification workflow
  .github/workflows/notification.yml
Labels: tooling

#691 Small fix to add quotes to build-push for slack
  .github/workflows/build-push.yml
Labels: bug, tooling

#696 fixed broken links in NIM deployment guides
  content/nim/deploy/vm-bare-metal/install.md
  content/nim/disconnected/offline-install-guide.md
Labels: documentation, product/nim

#699 Remove external nic sitemap ref
  static/sitemap_index.xml
Labels: documentation

#698 fix: Updated nim k8s docs deploy-using-helm.md
  content/includes/nim/kubernetes/nms-chart-supported-module-versions.md
  content/nim/deploy/kubernetes/deploy-using-helm.md
Labels: documentation, product/nim

#701 fix: broken link fixed in Nplus install docker guide
  content/nginx/admin-guide/installing-nginx/installing-nginx-docker.md
Labels: documentation, product/nginx-plus

#651 Update overview.md
  content/nap-waf/v5/admin-guide/overview.md
Labels: documentation, product/nap-waf

#685 feature: incorporate nginx-agent.conf 3.0 changes to Get started guide
  content/includes/nginx-one/conf/nginx-agent-conf.md
  content/nginx-one/agent/containers/run-agent-container.md
  content/nginx-one/getting-started.md
Labels: documentation, product/nim, product/nginx-plus, product/nginx-one, product/agent, tooling, product/nms

#705 feat: Remove redundant link checker in GitHub configuration
  .github/about.txt
  .github/workflows/check-broken-links.yml
Labels: tooling

#710 docs: AMP catalog audit
  content/amplify/changelog.md
  content/amplify/known-issues.md
Labels: documentation, product/amplify

#709 docs: update catalog for NGINX+
  content/nginx/admin-guide/security-controls/configuring-oidc.md
  content/nginx/deployment-guides/single-sign-on/active-directory-federation-services.md
  content/nginx/deployment-guides/single-sign-on/auth0.md
  content/nginx/deployment-guides/single-sign-on/cognito.md
  content/nginx/deployment-guides/single-sign-on/entra-id.md
  content/nginx/deployment-guides/single-sign-on/keycloak.md
  content/nginx/deployment-guides/single-sign-on/okta.md
  content/nginx/deployment-guides/single-sign-on/onelogin.md
  content/nginx/deployment-guides/single-sign-on/ping-identity.md
  content/nginx/variables.md
Labels: documentation, product/nginx-plus

#711 Update ip-groups-override-rules.md
  content/includes/nap-waf/config/common/ip-groups-override-rules.md
Labels: documentation, product/nap-waf

#714 Fix blank line around fences violation
  content/nic/usage-reporting.md
Labels: documentation

#715 feat: Update labeling configuration to tag NGINX Ingress Controller
  .github/labeler.yml
Labels: tooling

#726 Update policy.html
  content/includes/nap-waf/policy.html
Labels: documentation, product/nap-waf

#727 feat: Update NGINX Ingress Helm Operator links from nginxinc to nginx
  content/nic/installation/installing-nic/installation-with-operator.md
Labels: documentation, product/nic

#515 Simplify grammar on HTTP Load Balancer
  content/nginx/admin-guide/load-balancer/http-load-balancer.md
Labels: documentation, product/nginx-plus

#728 feat: Add logo parameters to NGINX Ingress Controller & Gateway Fabric
  content/ngf/_index.md
  content/nic/_index.md
Labels: documentation, product/ngf, product/nic

#668 Add new archetype for custom landing page
  archetypes/landing-page.md
Labels: documentation, enhancement, product/ngf, product/nginx-one, tooling, product/nap-waf

#734 updated nginx plus api server block to enable the dashboard
  content/includes/use-cases/monitoring/enable-nginx-plus-api.md
Labels: documentation, product/nginx-plus, onboarding

#718 chore: update Makefile and contribution docs for Hugo bump
  .github/workflows/build-push.yml
  Makefile
  documentation/writing-hugo.md
Labels: dependencies, tooling, process documentation

#738 Updated N1 landing page to use new params
  content/nginx-one/_index.md
Labels: documentation, product/nginx-one

#739 Updated the config snippet for enabling the NGINX Plus API and dashboard
  content/includes/config-snippets/enable-nplus-api-dashboard.md
  content/includes/use-cases/monitoring/enable-nginx-plus-api.md
Labels: documentation

#733 Port lab 5
  content/includes/config-snippets/enable-nplus-api-dashboard.md
  content/includes/use-cases/monitoring/enable-nginx-plus-api-with-config-sync-group.md
  content/includes/use-cases/monitoring/enable-nginx-plus-api.md
  content/includes/workshops/nginx-one-env-variables.md
  content/nginx-one/metrics/enable-metrics.md
  content/nginx-one/workshops/lab2/run-workshop-components-with-docker.md
  content/nginx-one/workshops/lab3/explore-nginx-one-console-and-features.md
  content/nginx-one/workshops/lab4/config-sync-groups.md
  content/nginx-one/workshops/lab5/upgrade-nginx-plus-to-latest-version.md
  static/nginx-one/images/unavailable-instances.png
  static/workshops/nginx-one/lab2/compose.yaml
Labels: documentation, product/nginx-one

#744 Resolved n1 landing page links
  content/nginx-one/_index.md
Labels: bug, documentation, product/nginx-one

#737 fix: cleanup of nim charts + minor fixes
  content/includes/nim/kubernetes/access-webui-helm.md
  content/includes/nim/kubernetes/nms-chart-supported-module-versions.md
  content/nim/deploy/kubernetes/deploy-using-helm.md
Labels: documentation, product/nim

#753 Fix: Root urls in nic need nginx-ingress-controller prefix
  content/nic/configuration/_index.md
  content/nic/installation/_index.md
  content/nic/logging-and-monitoring/_index.md
  content/nic/overview/_index.md
  content/nic/troubleshooting/_index.md
Labels: documentation, product/nic

#755 NGINXaaS Load Balancer for Kubernetes configuration update
  content/nginxaas-azure/loadbalancer-kubernetes.md
Labels: documentation, product/nginxaas

#761 docs: add missing NAP-DOS docs to catalog
  content/nap-dos/releases/about-1.2.0.md
  content/nap-dos/releases/about-4.4.md
  content/nap-dos/releases/about-4.5.md
  content/nap-dos/releases/about-4.6.md
Labels: documentation, product/nap-dos

#760 docs: Agent catalog audit
  content/agent/installation-upgrade/installation-unprivileged.md
Labels: documentation, product/agent

#763 docs: add missing NGF docs to the catalog
  content/ngf/changelog.md
  content/ngf/get-started.md
  content/ngf/how-to/control-plane-configuration.md
  content/ngf/how-to/data-plane-configuration.md
  content/ngf/how-to/scaling.md
  content/ngf/how-to/upgrade-apps-without-downtime.md
  content/ngf/install/deploy-data-plane.md
  content/ngf/install/nginx-plus.md
  content/ngf/install/secure-certificates.md
  content/ngf/install/upgrade-version.md
  content/ngf/monitoring/dashboard.md
  content/ngf/monitoring/tracing.md
  content/ngf/overview/custom-policies.md
  content/ngf/overview/gateway-architecture.md
  content/ngf/overview/nginx-plus.md
  content/ngf/overview/product-telemetry.md
  content/ngf/reference/api.md
  content/ngf/reference/cli-help.md
  content/ngf/reference/technical-specifications.md
  content/ngf/traffic-management/advanced-routing.md
  content/ngf/traffic-management/client-settings.md
  content/ngf/traffic-management/mirror.md
  content/ngf/traffic-management/request-response-headers.md
  content/ngf/traffic-management/snippets.md
  content/ngf/traffic-management/tls-passthrough.md
  content/ngf/traffic-management/upstream-settings.md
  content/ngf/traffic-security/secure-backend.md
Labels: documentation, product/ngf

#764 docs: add missing NIC docs to the catalog
  content/nic/configuration/access-control.md
  content/nic/configuration/configuration-examples.md
  content/nic/configuration/global-configuration/command-line-arguments.md
  content/nic/configuration/global-configuration/configmap-resource.md
  content/nic/configuration/global-configuration/custom-templates.md
  content/nic/configuration/global-configuration/globalconfiguration-resource.md
  content/nic/configuration/global-configuration/mgmt-configmap-resource.md
  content/nic/configuration/host-and-listener-collisions.md
  content/nic/configuration/ingress-resources/advanced-configuration-with-snippets.md
  content/nic/configuration/ingress-resources/basic-configuration.md
  content/nic/configuration/policy-resource.md
  content/nic/configuration/transportserver-resource.md
  content/nic/glossary.md
  content/nic/installation/build-nginx-ingress-controller.md
  content/nic/installation/create-license-secret.md
  content/nic/installation/ingress-nginx.md
  content/nic/installation/installing-nic/deploy-with-nap-using-helm.md
  content/nic/installation/installing-nic/installation-with-manifests.md
  content/nic/installation/installing-nic/installation-with-operator.md
  content/nic/installation/installing-nic/upgrade-to-v4.md
  content/nic/installation/integrations/app-protect-dos/installation.md
  content/nic/installation/integrations/app-protect-waf-v5/compile-waf-policies.md
  content/nic/installation/integrations/app-protect-waf-v5/configuration.md
  content/nic/installation/integrations/app-protect-waf-v5/installation.md
  content/nic/installation/integrations/app-protect-waf-v5/troubleshoot-app-protect-waf.md
  content/nic/installation/integrations/app-protect-waf/configuration.md
  content/nic/installation/integrations/app-protect-waf/installation.md
  content/nic/installation/integrations/f5-ingresslink.md
  content/nic/installation/integrations/opentracing.md
  content/nic/installation/nic-images/get-registry-image.md
  content/nic/installation/nic-images/use-aws-image.md
  content/nic/installation/nic-images/use-gcp-image.md
  content/nic/installation/run-multiple-ingress-controllers.md
  content/nic/logging-and-monitoring/prometheus.md
  content/nic/overview/about.md
  content/nic/overview/nginx-plus.md
  content/nic/overview/product-telemetry.md
  content/nic/releases.md
  content/nic/technical-specifications.md
  content/nic/troubleshooting/troubleshoot-common.md
  content/nic/troubleshooting/troubleshoot-configmap-policy.md
  content/nic/troubleshooting/troubleshoot-ingress.md
  content/nic/troubleshooting/troubleshoot-support.md
  content/nic/troubleshooting/troubleshoot-virtualserver.md
  content/nic/tutorials/custom-listen-ports.md
  content/nic/tutorials/oidc-custom-configuration.md
  content/nic/tutorials/security-monitoring.md
Labels: documentation, product/nic
